:root {
  --vp-layout-top-height: 48px;
  --vp-font-family-base: Manrope, sans-serif;
  --vp-c-brand: var(--maz-color-primary);
  --vp-c-brand-1: var(--maz-color-primary);
  --vp-c-gutter: var(--maz-color-bg-light);
  --vp-c-brand-light: var(--maz-color-primary-400);
  --vp-c-brand-lighter: var(--maz-color-primary-300);
  --vp-c-brand-dark: var(--maz-color-primary-600);
  --vp-c-brand-darker: var(--maz-color-primary-700);
  --vp-home-hero-name-color: var(--maz-color-primary);
  --vp-button-brand-bg: var(--maz-color-primary);
  --vp-button-brand-border: var(--maz-color-primary-600);
  --vp-button-brand-text: var(--maz-color-primary-contrast);
  --vp-button-brand-hover-border: var(--maz-color-primary-700);
  --vp-button-brand-hover-text: var(--maz-color-primary-contrast);
  --vp-button-brand-hover-bg: var(--maz-color-primary-600);
  --vp-button-brand-active-border: var(--maz-color-primary-700);
  --vp-button-brand-active-text: var(--maz-color-primary-contrast);
  --vp-button-brand-active-bg: var(--maz-color-primary-600);

  --vp-custom-block-warning-bg: var(--maz-color-warning-400);
  --vp-custom-block-warning-border: var(--maz-color-warning-600);
  --vp-custom-block-warning-text: var(--maz-color-warning-contrast);
  --vp-custom-block-warning-code-bg: var(--maz-color-warning-200);

  --vp-custom-block-info-bg: var(--maz-color-info-400);
  --vp-custom-block-info-border: var(--maz-color-info-600);
  --vp-custom-block-info-text: var(--maz-color-info-contrast);

  --vp-custom-block-details-bg: var(--maz-bg-color-light-light);
  --vp-custom-block-details-border: var(--maz-bg-color-light-lighter);
  --vp-custom-block-details-text: var(--maz-color-text-dark);

  --vp-custom-block-tip-bg: var(--maz-color-success);
  --vp-custom-block-tip-border: var(--maz-color-success-600);
  --vp-custom-block-tip-text: var(--maz-color-success-contrast);
}

html.dark {
  --vp-c-bg: var(--maz-color-bg);
  --vp-c-bg-elv: hsl(235deg 16% 12%);
  --vp-c-bg-elv-mute: var(--maz-color-bg);
  --vp-c-gutter: var(--maz-color-bg-light);

  --vp-custom-block-info-bg: var(--maz-color-info-alpha);
  --vp-custom-block-info-border: var(--maz-color-info-400);
  --vp-custom-block-info-text: var(--maz-color-info-contrast);

  --vp-custom-block-tip-bg: var(--maz-color-success-alpha);
  --vp-custom-block-tip-border: var(--maz-color-success-400);
  --vp-custom-block-tip-text: var(--maz-color-success-contrast);

  --vp-custom-block-details-bg: var(--maz-bg-color-dark-light);
  --vp-custom-block-details-border: var(--maz-bg-color-dark-lighter);
  --vp-custom-block-details-text: var(--maz-color-text-light);

  --vp-c-bg-alt: hsl(235deg 16% 12%);
  --vp-c-bg-soft-up: var(--maz-color-bg-lighter);
  --vp-c-bg-soft: var(--maz-color-bg-light);
  --vp-c-bg-mute: var(--maz-color-bg-lighter);
  --vp-c-bg-alpha-with-backdrop: hsl(235deg 16% 15% / 60%);
  --vp-button-alt-bg: var(--maz-color-bg-light);
  --vp-button-alt-border: var(--maz-color-bg-lighter);
  --vp-button-alt-hover-bg: var(--maz-color-bg-lighter);
  --vp-button-alt-hover-border: var(--maz-color-bg-light);
  --vp-c-divider-light: var(--maz-color-bg-light);
  --vp-c-text-2: var(--maz-color-text-light);

  --vp-custom-block-warning-bg: var(--maz-color-warning-700);
  --vp-custom-block-warning-border: var(--maz-color-warning-600);
  --vp-custom-block-warning-text: var(--maz-color-white);
  --vp-custom-block-warning-code-bg: var(--maz-color-warning-600);
}

.text {
  font-weight: 600 !important;
}

.custom-block a {
  color: var(--maz-color-white) !important;
}

.vp-doc .custom-block code {
  color: var(--maz-color-text);
}
.vp-doc .custom-block.warning code {
  color: var(--maz-color-warning-contrast) !important;
}

.custom-block.warning a {
  color: inherit !important;
}

.custom-block.details a {
  color: var(--maz-color-black) !important;
}

.custom-block.tip a {
  color: var(--maz-color-black) !important;
}

html.dark .custom-block.details a {
  color: var(--maz-color-white) !important;
}
html.dark .custom-block.tip a {
  color: var(--maz-color-white) !important;
}

.custom-block a:hover {
  @apply maz-text-muted;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.gap-05 {
  gap: 0.5rem;
}

.rounded {
  border-radius: 0.5rem;
}
