:root {
  --maz-color-primary-50: hsl(210deg 100% 96%);
  --maz-color-primary-100: hsl(210deg 100% 86%);
  --maz-color-primary-200: hsl(210deg 100% 81%);
  --maz-color-primary-300: hsl(210deg 100% 71%);
  --maz-color-primary-400: hsl(210deg 100% 66%);
  --maz-color-primary-600: hsl(210deg 100% 46%);
  --maz-color-primary-700: hsl(210deg 100% 36%);
  --maz-color-primary-800: hsl(210deg 100% 26%);
  --maz-color-primary-900: hsl(210deg 100% 16%);
  --maz-color-primary: hsl(210deg 100% 56%);
  --maz-color-primary-alpha: hsl(210deg 100% 56% / 60%);
  --maz-color-primary-alpha-20: hsl(210deg 100% 56% / 20%);
  --maz-color-primary-alpha-10: hsl(210deg 100% 56% / 10%);
  --maz-color-primary-alpha-05: hsl(210deg 100% 56% / 5%);
  --maz-color-primary-contrast: hsl(0deg 0% 100%);
  --maz-color-secondary-50: hsl(164deg 76% 86%);
  --maz-color-secondary-100: hsl(164deg 76% 76%);
  --maz-color-secondary-200: hsl(164deg 76% 71%);
  --maz-color-secondary-300: hsl(164deg 76% 61%);
  --maz-color-secondary-400: hsl(164deg 76% 56%);
  --maz-color-secondary-600: hsl(164deg 76% 36%);
  --maz-color-secondary-700: hsl(164deg 76% 26%);
  --maz-color-secondary-800: hsl(164deg 76% 16%);
  --maz-color-secondary-900: hsl(164deg 76% 6%);
  --maz-color-secondary: hsl(164deg 76% 46%);
  --maz-color-secondary-alpha: hsl(164deg 76% 46% / 60%);
  --maz-color-secondary-alpha-20: hsl(164deg 76% 46% / 20%);
  --maz-color-secondary-alpha-10: hsl(164deg 76% 46% / 10%);
  --maz-color-secondary-alpha-05: hsl(164deg 76% 46% / 5%);
  --maz-color-secondary-contrast: hsl(0deg 0% 100%);
  --maz-color-text-light: hsl(0deg 0% 85%);
  --maz-color-muted-light: hsl(0deg 0% 0% / 54%);
  --maz-bg-color-light: hsl(0deg 0% 100%);
  --maz-bg-color-light-light: hsl(0deg 0% 96%);
  --maz-bg-color-light-lighter: hsl(0deg 0% 93%);
  --maz-bg-color-light-dark: hsl(0deg 0% 89%);
  --maz-bg-color-light-darker: hsl(0deg 0% 85%);
  --maz-color-text-dark: hsl(210deg 8% 14%);
  --maz-color-muted-dark: hsl(0deg 0% 100% / 54%);
  --maz-bg-color-dark: hsl(235deg 16% 15%);
  --maz-bg-color-dark-light: hsl(235deg 16% 19%);
  --maz-bg-color-dark-lighter: hsl(235deg 16% 22%);
}
