@import './../icons';
@import './../../../packages/scss/index.scss';
@import './load-fonts';

html,
body {
  height: 100%;
  color: $text-color;
}

#app {
  min-height: 100%;

  &.documentation {
    height: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
  font-weight: normal;
}

h1 {
  font-size: 3em;
  line-height: normal;
  font-family: GeomanistBold, sans-serif;
}

h2,
h3 {
  font-family: GeomanistMedium, sans-serif;
}

h4,
h5,
h6 {
  font-family: GeomanistLight, sans-serif;
}

button,
a {
  // font-family: GeomanistLight, sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

.shadow-container {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: dodgerblue;
}

.is-dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-color-dark;
  }
}
