$breakpoint-mobile-s: 320px !default;
$breakpoint-mobile-m: 375px !default;
$breakpoint-mobile-l: 425px !default;
$breakpoint-tablet: 767px !default;
$breakpoint-laptop-s: 1024px !default;
$breakpoint-laptop-l: 1440px !default;
$breakpoint-4k: 2560px !default;
