@import './../../mixins/font_family';

html { font-size: var(--maz-base-font-size); }

.maz-base-component {
  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  @include font_family();

  &:not(.maz-btn) {
    color: var(--maz-text-color);
  }
}
