$btn-side-padding: 1.429em !default;
$btn-height: 3em !default;

$btn-font-size-mini: .75rem !default;
$btn-font-size-sm: .857rem !default;
$btn-font-size-md: 1rem !default;
$btn-font-size-lg: 1.19rem !default;
$btn-font-size-xl: 1.375rem !default;

.maz-btn {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .1);
  background-color: var(--maz-primary);
  color: white;
  display: inline-flex;
  border-radius: var(--maz-border-radius);
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  width: auto;
  overflow: visible;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: center;
  font-size: $btn-font-size-md;
  padding-right: $btn-side-padding;
  padding-left: $btn-side-padding;
  height: $btn-height;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover,
  &:focus,
  &.maz-active {
    background-color: var(--maz-primary-darken);
  }

  &:focus,
  &.maz-active {
    &::before {
      box-sizing: content-box;
      content: '';
      display: block;
      border: 2px solid var(--maz-primary);
      border-radius: calc(var(--maz-border-radius) + 3px);
      position: absolute;
      left: -3px;
      top: -3px;
      right: -3px;
      bottom: -3px;
    }
  }

  &--outline {
    background-color: rgba(var(--maz-primary), .05);
    color: var(--maz-primary);
    box-shadow: none;

    &::after {
      box-sizing: content-box;
      content: '';
      display: block;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      border: 2px solid;
      border-color: var(--maz-primary);
      border-radius: var(--maz-border-radius);
      position: absolute;
      left: 0;
      top: 0;
    }

    &.maz-btn--rounded {
      border-radius: 100px;

      &::after {
        border-radius: 100px;
      }
    }

    &:hover,
    &:focus,
    &.maz-active {
      background-color: var(--maz-primary);
      color: white;
    }
  }

  &--rounded {
    border-radius: 100px;

    &:focus,
    &.maz-active {
      &::before {
        border-radius: 100px;
      }
    }
  }

  &--block {
    width: 100%;
  }

  &--xl {
    font-size: $btn-font-size-xl;
  }

  &--lg {
    font-size: $btn-font-size-lg;
  }

  &--sm {
    font-size: $btn-font-size-sm;
  }

  &--mini {
    font-size: $btn-font-size-mini;

    span {
      font-size: $btn-font-size-sm;
    }
  }

  &--fab {
    border-radius: 50%;
    padding: 0;
    width: $btn-height;

    &::after {
      border-radius: 50%;
    }

    &:focus,
    &.maz-active {
      &::before {
        border-radius: 50%;
      }
    }
  }

  &--icon {
    &--right {
      padding-right: calc(#{$btn-side-padding} / 1.5);
    }

    &--left {
      padding-left: calc(#{$btn-side-padding} / 1.5);
    }

    &.maz-btn--no-text {
      padding-left: calc(#{$btn-side-padding} / 1.5);
      padding-right: calc(#{$btn-side-padding} / 1.5);
    }

    i {
      font-size: 1.714rem;
    }

    &.maz-btn--xl {
      i {
        font-size: 2rem;
      }
    }

    &.maz-btn--lg {
      i {
        font-size: 1.857rem;
      }
    }

    &.maz-btn--sm {
      i {
        font-size: 1.429rem;
      }
    }

    &.maz-btn--mini {
      i {
        font-size: 1.286rem;
      }
    }
  }

  &__spinner {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

@import './../../_variables/color_names';

@each $name in $color_names {
  .maz-btn--#{$name} {
    background-color: var(--maz-#{$name});

    &:hover,
    &:focus,
    &.maz-active {
      background-color: var(--maz-#{$name}-darken);
    }

    &:focus,
    &.maz-active {
      &::before {
        border-color: var(--maz-#{$name});
      }
    }

    &.maz-btn--outline {
      background-color: var(--maz-#{$name}-alpha-05);
      color: var(--maz-#{$name});

      &::after {
        border-color: var(--maz-#{$name});
      }

      &.maz-btn--rounded {
        &::after {
          border-radius: 100px;
        }
      }

      &:hover:not(:disabled),
      &:focus:not(:disabled),
      &.maz-active:not(:disabled) {
        background-color: var(--maz-#{$name});
        color: white;
      }
    }
  }
}

.maz-btn:disabled {
  background-color: var(--maz-disabled);
  color: var(--maz-grey);
  cursor: not-allowed;
  box-shadow: none;

  &::after {
    border-color: var(--maz-disabled);
  }

  &::before {
    border-color: var(--maz-disabled);
  }
}

.maz-btn.maz-btn--white,
.maz-btn.maz-btn--light {
  color: #212121;

  &.maz-btn--outline {
    color: var(--maz-text-color);

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &.maz-active {
      color: #212121;
    }
  }
}

.maz-btn.maz-btn--transparent {
  color: var(--maz-text-color);

  &.maz-btn--outline {
    color: var(--maz-text-color);

    &:hover,
    &:focus {
      color: var(--maz-text-color);
      background-color: var(--maz-hover-color);
    }
  }

  &:hover,
  &:focus {
    color: var(--maz-text-color);
    background-color: var(--maz-hover-color);
  }
}

.maz-btn.maz-text-hidden {
  color: transparent;
}

.maz-is-dark.maz-btn,
.maz-is-dark .maz-btn {
  &:not(.maz-no-shadow) {
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .3);
  }
}
