@import './../../style-helpers/variables/index.scss';

.maz-select {
  position: relative;
  user-select: none;

  &--sm {
    font-size: .857rem;
  }

  &--lg {
    font-size: 1.143rem;
  }

  &__toggle {
    transition: all .25s cubic-bezier(.645, .045, .355, 1);
    cursor: pointer;
    outline: none;
    height: 24px;

    &__arrow {
      color: $input-icon-color;

      .arrow {
        fill: $input-icon-color;
      }
    }
  }

  &__tags {
    overflow-y: hidden;
    overflow-x: auto;
    position: absolute;
    top: 5px;
    left: 8px;
    bottom: 5px;
    z-index: 1;
    padding-left: 2px;
    max-width: calc(100% - 80px);
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &.maz-left-offset {
      left: 40px;
    }
  }

  &__tag {
    margin-right: 4px;
    border-radius: calc(#{$border-radius} / 2);
    color: white;
    height: 100%;
    padding-right: .2857rem;
    padding-left: .5rem;
    box-shadow: none !important;

    &__text {
      font-size: .875rem;
      margin-right: 5px;
      white-space: nowrap;
    }

    &__clear {
      font-size: 1.2rem;
    }

    &.maz-btn--sm {
      font-size: 1.143rem;
    }

    &.maz-btn--lg {
      padding-left: .7143rem;
      padding-right: .3571rem;
    }

    &.maz-btn::before {
      border: none;
    }
  }

  &__options-list {
    z-index: 9;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background-color: $bg-color;

    &:not(.maz-select__options-list--top) {
      top: 100%;
    }

    &--top {
      bottom: 100%;
    }

    &--right {
      right: 0;
    }

    &__items {
      overflow-y: auto;
      overflow-x: hidden;
    }

    &__item {
      padding: 0 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1em;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: $text-color;
      outline: none;
      transition: all 300ms ease-in-out;

      &:hover,
      &.keyboard-selected {
        background-color: darken($hover-bg-color, 5%);
      }
    }

    &__no-results i {
      font-size: 2.3rem;
    }
  }

  &.has-list-open {
    .maz-select {
      &__toggle {
        transform: rotate(180deg);
      }
    }
  }

  @each $name, $color in $color_types {
    &--#{$name} {
      .maz-select__options-list__item.selected {
        background-color: $color;

        &:hover,
        &.keyboard-selected {
          background-color: darken($color, 10%);
        }
      }
    }
  }
}

.maz-is-dark .maz-select,
.maz-is-dark.maz-select {
  &__toggle {
    &__arrow {
      color: $input-icon-color-dark;

      .arrow {
        fill: $input-icon-color-dark;
      }
    }
  }

  &__options-list {
    background-color: $bg-color-dark;

    &__item {
      color: $border-color-dark;

      &:hover,
      &.keyboard-selected:not(.selected) {
        background-color: lighten($hover-bg-color-dark-l, 5%);
      }
    }
  }
}
