.maz-btn {
  &--outline {
    &.maz-btn--transparent {
      color: var(--text-color);
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &.maz-active:not(:disabled) {
      &.maz-btn--transparent {
        color: var(--text-color);
      }
    }
  }

  &--transparent {
    color: var(--text-color);

    &:hover,
    &:focus {
      background-color: var(--hover-color);
    }
  }

  &__spinner {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
