@import './../../style-helpers/variables/index.scss';
@import './../../style-helpers/mixins/index.scss';

$LG_SIZE: 3.571rem !default;
$MD_SIZE: 2.857rem !default;
$SM_SIZE: 2.286rem !default;
$TEXTEAREA_SIZE: 9.375rem !default;

.maz-input {
  position: relative;
  background-color: $bg-color;
  transition: all 300ms ease-in-out;

  &.is-textarea {
    min-height: $TEXTEAREA_SIZE !important;
  }

  &__label {
    position: absolute;
    top: .125rem;
    cursor: pointer;
    outline: none;
    left: .8571rem;
    transform: translateY(25%);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-size: .786rem;
    color: $placeholder-color;
  }

  &__input {
    cursor: pointer;
    transition-duration: .3s;
    position: relative;
    width: 100%;
    padding: 0 .8571rem;
    font-weight: 400;
    appearance: none;
    border: none;
    outline: none;
    font-size: 1rem;
    z-index: 0;
    background-color: transparent;
    display: block;

    &:not(.maz-textarea) {
      height: $MD_SIZE;
      min-height: $MD_SIZE;
    }

    &.maz-textarea {
      @include font_family();

      padding: .5714rem .8571rem 0 .8571rem;
      resize: vertical;
      min-height: calc(#{$TEXTEAREA_SIZE} + calc(#{$border-width} * 2) - .5714rem);
    }

    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }

    &::-moz-placeholder {
      color: $placeholder-color;
    }

    &:-ms-input-placeholder {
      color: $placeholder-color;
    }

    &::-ms-input-placeholder {
      color: $placeholder-color;
    }

    &:-moz-placeholder {
      color: $placeholder-color;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;
    color: $input-icon-color;
    font-size: 1.286rem;
    top: 0;
    bottom: 0;
    cursor: pointer;

    &.left {
      left: .5714rem;
    }

    &.right {
      right: .5714rem;
    }
  }

  &__toggle-btn {
    $clear-size: 1.714rem;

    position: absolute;
    top: 0;
    bottom: 0;
    right: .5714rem;
    margin: auto 0;
    width: $clear-size;
    height: $clear-size;
    appearance: none;
    border: none;
    background: transparent;
    color: $input-icon-color;
    border-radius: $clear-size;
    cursor: pointer;
    font-size: 1rem;
    transition: all 300ms ease-in-out;

    &:focus {
      outline: none;
    }

    &__icon {
      position: relative;
      font-size: 1.286rem;
    }

    &.has-right-icon {
      right: 2.857rem;
    }

    &.password.has-clear-btn {
      right: 2.857rem;

      &.has-right-icon {
        right: 5rem;
      }
    }

    &:hover {
      color: white;
      background-color: $input-icon-color;
    }
  }

  &.has-left-icon {
    .maz-input__input {
      padding-left: 2.857rem;
    }

    .maz-input__label {
      left: 2.857rem;
    }
  }

  &.has-1-right-icon {
    .maz-input__input {
      padding-right: 2.5rem;
    }
  }

  &.has-2-right-icon {
    .maz-input__input {
      padding-right: 4.643rem;
    }
  }

  &.has-3-right-icon {
    .maz-input__input {
      padding-right: 6.786rem;
    }
  }

  &.has-value,
  &.has-hint {
    .maz-input__label {
      opacity: 1;
      transform: translateY(0);
    }

    &:not(.has-no-label) {
      &.is-textarea {
        padding-top: 1.429rem;
      }

      .maz-input__input {
        padding-top: 1rem;

        &.maz-textarea {
          transition: all 0ms;
          padding-top: 0;
          min-height: calc(#{$TEXTEAREA_SIZE} - calc(#{$border-width} * 2) - 1.429rem);
        }
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;

    $disabled-color-text: darken($disabled-color, 20%);

    background-color: $disabled-color;
    border-color: $border-color;

    &:hover,
    &:focus {
      border-color: $border-color;
    }

    .maz-input {
      &__input {
        color: $disabled-color-text;

        &::-webkit-input-placeholder {
          color: $disabled-color-text;
        }

        &::-moz-placeholder {
          color: $disabled-color-text;
        }

        &:-ms-input-placeholder {
          color: $disabled-color-text;
        }

        &::-ms-input-placeholder {
          color: $disabled-color-text;
        }

        &:-moz-placeholder {
          color: $disabled-color-text;
        }

        &::placeholder {
          color: $disabled-color-text;
        }
      }
    }

    .maz-input__label,
    .maz-input__input,
    .maz-input__toggle__arrow {
      cursor: not-allowed;
      color: $disabled-color-text;
    }
  }

  &--sm {
    .maz-input__input {
      font-size: .857rem;

      &:not(.maz-textarea) {
        height: $SM_SIZE;
        min-height: $SM_SIZE;
      }
    }

    .maz-input__label {
      font-size: .714rem;
      top: .0625rem;
    }

    &.has-value:not(.has-no-label) {
      .maz-input__input {
        padding-top: .8571rem;

        &.maz-textarea {
          padding-top: 1.286rem;
        }
      }
    }
  }

  &--lg {
    .maz-input__input {
      font-size: 1.143rem;

      &:not(.maz-textarea) {
        height: $LG_SIZE;
        min-height: $LG_SIZE;
      }
    }

    .maz-input__label {
      font-size: 1rem;
      top: .1875rem;
    }

    &.has-value:not(.has-no-label) {
      .maz-input__input {
        padding-top: 1.143rem;

        &.maz-textarea {
          padding-top: 1.857rem;
        }
      }
    }
  }

  &__loader {
    bottom: -($border-width / 2);
    height: $border-width;
    left: $border-radius / 2;
    width: calc(100% - .5714rem);
    position: absolute;
    overflow: hidden;
    border-radius: $border-radius;

    &.maz-textarea {
      bottom: .4286rem;
    }

    &__progress-bar {
      display: block;
      position: absolute;
      content: '';
      left: -200px;
      width: 200px;
      height: .1429rem;
      animation: loading 2s linear infinite;
    }
  }

  @mixin color_state($color) {
    border-color: $color;

    &:hover,
    &:focus {
      border-color: $color;
    }

    .maz-input__label {
      color: $color;
    }

    .maz-input__icon {
      color: $color;

      path.arrow {
        fill: $color;
      }
    }
  }

  @each $name, $color in $color_types {
    &--#{$name} {
      .maz-input {
        &__loader__progress-bar {
          background-color: $color;
        }

        &__input {
          caret-color: $primary-color;
        }
      }

      &.is-focused {
        &.maz-input--#{$name} {
          border-color: $color;

          &:hover,
          &:focus {
            border-color: $color;
          }

          .maz-input {
            &__label {
              color: $color;
            }

            &__icon {
              color: $color;

              path.arrow {
                fill: $color;
              }
            }
          }
        }
      }
    }
  }

  &.is-valid,
  &.is-focused.is-valid {
    @include color_state($success-color);
  }

  &.has-warning,
  &.is-focused.has-warning {
    @include color_state($warning-color);
  }

  &.has-error,
  &.is-focused.has-error {
    @include color_state($danger-color);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $text-color;
    box-shadow: 0 0 0 1000px $bg-color inset;
  }
}

.maz-is-dark .maz-input,
.maz-is-dark.maz-input {
  background-color: $bg-color-dark-light;

  &.is-disabled {
    background-color: darken($bg-color-dark-light, 10%);
    border-color: $bg-color-dark-light;

    .maz-input {
      $disabled-color-text-dark: lighten($bg-color-dark-light, 10%);

      &__label {
        color: $disabled-color-text-dark;
      }

      &__input {
        color: $disabled-color-text-dark;

        &::-webkit-input-placeholder {
          color: $disabled-color-text-dark;
        }

        &::-moz-placeholder {
          color: $disabled-color-text-dark;
        }

        &:-ms-input-placeholder {
          color: $disabled-color-text-dark;
        }

        &::-ms-input-placeholder {
          color: $disabled-color-text-dark;
        }

        &:-moz-placeholder {
          color: $disabled-color-text-dark;
        }

        &::placeholder {
          color: $disabled-color-text-dark;
        }
      }
    }
  }

  &__label {
    color: $placeholder-color-dark;
  }

  &__input {
    color: $text-color-dark;

    &::-webkit-input-placeholder {
      color: $placeholder-color-dark;
    }

    &::-moz-placeholder {
      color: $placeholder-color-dark;
    }

    &:-ms-input-placeholder {
      color: $placeholder-color-dark;
    }

    &::-ms-input-placeholder {
      color: $placeholder-color-dark;
    }

    &:-moz-placeholder {
      color: $placeholder-color-dark;
    }

    &::placeholder {
      color: $placeholder-color-dark;
    }
  }

  &__icon {
    color: $input-icon-color-dark;
  }

  &__toggle-btn {
    color: $input-icon-color-dark;

    &:hover {
      color: $text-color-dark;
      background-color: lighten($hover-bg-color-dark-l, 10%);
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $text-color-dark;
    box-shadow: 0 0 0 1000px $bg-color-dark-light inset;
  }
}
