.maz-list-item {
  position: relative;
  padding: .75rem 1.25rem;
  border: none;
  border-bottom: 1px solid $hover-color;
  margin: 0;
  color: $text-color;
  text-align: left;
  width: 100%;
  outline: none;
  background-color: transparent;

  &.cursor-pointer {
    cursor: pointer;
  }

  &.has-hover:hover {
    background-color: $hover-color;
  }

  &:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom: none;
  }
}

.is-dark .maz-list-item {
  color: $text-color-dark;
  border-color: $hover-color-dark;

  &.has-hover:hover {
    background-color: $hover-color-dark;
  }
}
