/* stylelint-disable */
@font-face {
  font-family: 'icomoon';
  src: url('~@/assets/icons/fonts/icomoon.eot?swtefj');
  src: url('~@/assets/icons/fonts/icomoon.eot?swtefj#iefix') format('embedded-opentype'),
    url('~@/assets/icons/fonts/icomoon.ttf?swtefj') format('truetype'),
    url('~@/assets/icons/fonts/icomoon.woff?swtefj') format('woff'),
    url('~@/assets/icons/fonts/icomoon.svg?swtefj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* [class^='icon-ctk'],
[class*=' icon-ctk'] { */
[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: '\ea90';
}
.icon-twitter:before {
  content: '\ea96';
}
.icon-github:before {
  content: '\eab0';
}
.icon-linkedin:before {
  content: '\eaca';
}
