.pagination-arrow-btn {
  background-color: var(--maz-bg-color);
  margin-right: 10px;
  color: var(--maz-text-color);

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    cursor: unset;
  }

  &:hover,
  &:focus {
    background-color: var(--maz-hover-color);
  }

  &.maz-btn::before {
    border-color: var(--maz-hover-color);
  }
}
