.pagination-number-btn {
  height: 35px;
  width: 35px;
  background-color: transparent;
  margin-right: 10px;
  color: $text-color;
  box-shadow: none;

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover,
  &:focus {
    background-color: darken(white, 20%);
    box-shadow: 0 0 0 .143rem rgba(darken(white, 20%), .5);
  }

  &.active {
    background-color: black;
    box-shadow: none;

    &:focus {
      box-shadow: 0 0 0 .143rem rgba(black, .5);
    }

    color: white;

    &:hover {
      background-color: lighten(black, 20%);
    }
  }
}

.maz-pagination.maz-is-dark,
.maz-is-dark {
  .pagination-number-btn {
    color: $text-color-dark;

    &:hover,
    &:focus {
      background-color: lighten($hover-bg-color-dark, 5%);
      box-shadow: 0 0 0 .143rem darken($hover-bg-color-dark, 5%);
    }

    &.active {
      background-color: $bg-color;
      color: $text-color;

      &:focus {
        box-shadow: 0 0 0 .143rem rgba(white, .5);
      }
    }
  }
}
