.pagination-arrow-btn {
  background-color: transparent;
  margin-right: 10px;
  color: $text-color;
  box-shadow: none;

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    cursor: unset;
  }

  &:hover,
  &:focus {
    background-color: darken(white, 20%);
    box-shadow: 0 0 0 .143rem rgba(darken(white, 20%), .5);
  }
}

.is-dark .pagination-arrow-btn {
  color: $text-color-dark;

  &:hover,
  &:focus {
    background-color: lighten($hover-color-dark, 5%);
    box-shadow: 0 0 0 .143rem darken($hover-color-dark, 5%);
  }
}
