.pagination-number-btn {
  background-color: var(--bg-color);
  margin-right: 10px;
  color: var(--text-color);

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover,
  &:focus {
    background-color: var(--hover-color-darken);
  }

  &.maz-btn::before {
    border-color: var(--hover-color-darken);
  }

  &.active {
    background-color: var(--primary);
    color: white;

    &.maz-btn::before {
      border-color: var(--primary);
    }
  }
}
