
.pagination-dots-divider {
  color: $text-color;
  user-select: none;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.is-dark,
.maz-pagination.is-dark {
  .pagination-dots-divider {
    color: white;
  }
}
