.maz-pagination {
  &__container {
    height: 50px;
    border-radius: 50px;
    padding: 0 10px;
    background-color: $hover-bg-color;
  }
}

.is-dark .maz-pagination,
.is-dark.maz-pagination {
  .maz-pagination__container {
    background-color: $bg-color-dark-l;
  }
}

@import './pagination-arrow-btn';
@import './pagination-dots-divider';
@import './pagination-number-btn';
