$primary-color: var(--maz-primary-color);
$second-color: var(--maz-second-color);
$second-color-dark: var(--maz-second-color-dark);
$third-color: var(--maz-third-color);
$third-color-dark: var(--maz-third-color-dark);
$text-color: var(--maz-text-color);
$text-color-dark: var(--maz-third-color-dark);
$muted-color: var(--maz-muted-color);
$muted-color-dark: var(--maz-muted-color-dark);
$hover-color: var(--maz-hover-color);
$hover-color-dark: var(--maz-hover-color-dark);
$bg-color: var(--maz-bg-color);
$bg-color-dark: var(--maz-bg-color-dark);
$valid-color: var(--maz-valid-color);
$error-color: var(--maz-error-color);
$error-color-transparency: var(--maz-error-color-transparency);
$primary-color-transparency: var(--maz-primary-color-transparency);
$valid-color-transparency: var(--maz-valid-color-transparency);
$border-radius: var(--maz-border-radius);
$disabled-color: #747474;
