:root {
  --maz-color-primary-50: hsl(271, 99%, 94%);
  --maz-color-primary-100: hsl(271, 99%, 84%);
  --maz-color-primary-200: hsl(271, 99%, 79%);
  --maz-color-primary-300: hsl(271, 99%, 69%);
  --maz-color-primary-400: hsl(271, 99%, 64%);
  --maz-color-primary-600: hsl(271, 99%, 44%);
  --maz-color-primary-700: hsl(271, 99%, 34%);
  --maz-color-primary-800: hsl(271, 98%, 24%);
  --maz-color-primary-900: hsl(271, 100%, 14%);
  --maz-color-primary: hsl(271, 99%, 54%);
  --maz-color-primary-alpha: hsla(271, 99%, 54%, 0.6);
  --maz-color-primary-alpha-20: hsla(271, 99%, 54%, 0.2);
  --maz-color-primary-contrast: hsl(0, 0%, 100%);

  --maz-color-secondary-50: hsl(0, 0%, 100%);
  --maz-color-secondary-100: hsl(167, 72%, 90%);
  --maz-color-secondary-200: hsl(167, 72%, 85%);
  --maz-color-secondary-300: hsl(167, 72%, 75%);
  --maz-color-secondary-400: hsl(167, 72%, 70%);
  --maz-color-secondary-600: hsl(167, 72%, 50%);
  --maz-color-secondary-700: hsl(167, 72%, 40%);
  --maz-color-secondary-800: hsl(167, 72%, 30%);
  --maz-color-secondary-900: hsl(167, 72%, 20%);
  --maz-color-secondary: hsl(167, 72%, 60%);
  --maz-color-secondary-alpha: hsla(167, 72%, 60%, 0.6);
  --maz-color-secondary-alpha-20: hsla(167, 72%, 60%, 0.2);
  --maz-color-secondary-contrast: hsl(0, 0%, 0%);
}
