.maz-collapse {
  color: $text-color;
  border-radius: $border-radius;
  overflow: hidden;
  border: 2px solid $hover-color;

  &__header-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: $text-color;
    width: 100%;
    outline: none;
    font-size: 1em;

    &:focus {
      box-shadow: none;
    }

    &__arrow {
      transition: all .25s cubic-bezier(.645, .045, .355, 1);
    }
  }

  &__content {
    border-top: 2px solid $text-color-dark;
  }

  &.is-open {
    .maz-collapse__header-btn__arrow {
      transform: rotate(180deg);
    }
  }
}

.is-dark .maz-collapse,
.is-dark.maz-collapse {
  color: $text-color-dark;
  background-color: $bg-color-dark;
  border-color: lighten($hover-color-dark, 10%);

  &__header-btn {
    color: $text-color-dark;

    &:hover,
    &:focus {
      background-color: $hover-color-dark;
    }
  }

  &__content {
    border-color: lighten($hover-color-dark, 10%);
  }
}
