.maz-spinner {
  &.spinner-anim {
    // width: 24px;
    animation: spin .6s linear infinite;

    &__info path {
      fill: $primary-color;
    }

    &__white path {
      fill: white;
    }
  }
}
