.maz-responsive-menu {
  position: relative;
  width: 66px;

  &-collapse {
    background-color: $bg-color;
    position: absolute;
    top: calc(100% + .143em);
    right: 0;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);

    &__items {
      padding: 8px 16px;
      color: $text-color;
      text-decoration: none !important;

      &.router-link-exact-active {
        color: $primary-color;
      }

      &:hover:not(.router-link-exact-active),
      &:focus:not(.router-link-exact-active) {
        background-color: #EAEAEA;
      }
    }
  }
}

.is-dark.maz-responsive-menu,
.is-dark .maz-responsive-menu {
  &-collapse {
    background-color: $bg-color-dark;
    border: 1px solid $hover-bg-color-dark;

    &__items {
      color: $text-color-dark;

      &.router-link-exact-active {
        color: $primary-color;
      }

      &:hover:not(.router-link-exact-active),
      &:focus:not(.router-link-exact-active) {
        background-color: $hover-bg-color-dark;
      }
    }
  }
}
