.maz-draggable-list {
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: -2px;
    background-color: $bg-color;
    border: 2px solid $hover-color;
    cursor: move;
    width: 100%;
    font-size: .875em;
    color: $text-color;

    & > * {
      color: $text-color;
    }

    &:hover {
      background-color: $hover-color;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }

  .flip-list-move {
    transition: transform .5s;
  }

  .ghost {
    opacity: .5;
  }
}

.maz-draggable-list.is-dark,
.is-dark .maz-draggable-list {
  .maz-draggable-list__item {
    background-color: $bg-color-dark;
    color: $text-color-dark;
    border-color: $hover-color-dark;

    & > * {
      color: $text-color-dark;
    }

    &:hover {
      background-color: $hover-color-dark;
    }
  }
}
