@import './../style-helpers/variables/index.scss';

.maz-phone-number-input {
  .select-country-container {
    flex: 0 0 120px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
  }

  &.sm .select-country-container {
    flex: 0 0 110px;
    width: 110px;
    min-width: 110px;
    max-width: 110px;
  }

  &.lg .select-country-container {
    flex: 0 0 130px;
    width: 130px;
    min-width: 130px;
    max-width: 130px;
  }

  .maz-input {
    &:not(.has-border-radius) {
      .maz-input__input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: - $border-width - 1;
      }
    }

    &__input {
      z-index: 0;

      &:focus {
        z-index: 1;
      }
    }

    &__label,
    &__toggle-btn {
      z-index: 1;
    }
  }
}

@import './maz-phone-number-input/country-selector';
