.maz-responsive-menu {
  position: relative;

  &-collapse {
    background-color: var(--#{$prefix}bg-color);
    position: absolute;
    top: calc(100% + .143em);
    right: 0;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);

    &__items {
      padding: 8px 16px;
      color: var(--#{$prefix}text-color) !important;
      text-decoration: none !important;

      &.router-link-exact-active,
      &.nuxt-link-exact-active {
        color: var(--#{$prefix}primary) !important;
      }

      &:hover:not(.router-link-exact-active):not(.nuxt-link-exact-active),
      &:focus:not(.router-link-exact-active):not(.nuxt-link-exact-active) {
        background-color: var(--#{$prefix}hover-color);
      }
    }
  }
}
