@import './../style-helpers/variables/index.scss';

.maz-sidebar {
  &__wrapper {
    background-color: white;
    position: relative;
    transition-duration: .2s;
    transform: translateX(0);
    z-index: 9;

    &__content {
      overflow: hidden;
    }

    &__close-btn {
      position: absolute;
      top: 8px;
      left: 100%;

      button {
        background-color: #DDD;
        border-radius: 0 8px 8px 0;
        width: 23px;
        height: 48px;
        outline: 0;
        cursor: pointer;
        border: none;
        padding: 0;
      }
    }

    &__load-layer {
      background-color: lighten($overlay-color, 50%);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 10;
    }

    &__opacity-layer {
      z-index: 9;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: lighten($overlay-color, 50%);
    }

    &.has-shadow {
      box-shadow: 2px 5px 8px rgba(0, 0, 0, .1);

      .maz-sidebar__wrapper__close-btn button {
        box-shadow: 2px 1px 3px rgba(0, 0, 0, .1);
      }

      &.is-right {
        box-shadow: -2px 5px 8px rgba(0, 0, 0, .1);

        .maz-sidebar__wrapper__close-btn button {
          box-shadow: -2px 1px 8px rgba(0, 0, 0, .1);
        }
      }
    }

    &.is-close {
      box-shadow: none !important;
      transform: translateX(-100%);

      &.is-right {
        transform: translateX(100%);
      }
    }

    &.is-right {
      .maz-sidebar__wrapper__close-btn {
        right: 100%;
        left: inherit;

        button {
          border-radius: $border-radius 0 0 $border-radius;
        }
      }
    }

    &.is-absolute {
      left: 0;
      position: absolute;
      max-width: 90%;
    }

    &.is-absolute.is-right {
      right: 0;
      left: inherit;
    }
  }
}

.maz-is-dark .maz-sidebar,
.maz-is-dark.maz-sidebar {
  background-color: $bg-color-dark;

  .maz-sidebar__wrapper {
    background-color: $bg-color-dark;

    &__load-layer {
      background-color: $overlay-color-dark;
    }

    &__close-btn {
      button {
        background-color: $hover-bg-color-dark;
        color: white;

        svg .arrow {
          fill: white;
        }
      }
    }

    &__opacity-layer {
      background-color: $overlay-color-dark;
    }
  }
}
