.maz-card {
  min-width: 250px;
  max-width: 100%;
  color: var(--maz-text-color);
  background-color: var(--maz-bg-color);
  position: relative;

  $this: &;

  &--linked {
    transition: all 300ms ease-in-out;
    transform: scale(1);

    &:hover:not(#{$this}--no-scale) {
      z-index: 1;
      transform: scale(1.02);
    }

    #{$this}__wrapper {
      color: var(--maz-text-color);
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__content__wrapper {
    max-width: 100%;
    position: relative;
  }

  &__title,
  &__title > * {
    font-size: 1.5rem;
  }

  &__subtitle,
  &__subtitle > * {
    font-size: 1.2rem;
  }

  &__gallery__wrapper {
    position: relative;
  }

  &__actions {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
