.maz-stepper {
  &__step {
    padding: 0;

    &--dot {
      border-radius: 50%;

      &::before {
        border-radius: 50% !important;
      }
    }

    &--square {
      border-radius: calc(1em / 3);

      &.maz-btn::before {
        border-radius: calc((1em / 3) + 2px);
      }
    }

    &:not(.is-active) {
      background-color: var(--hover-color);
      color: var(--grey);

      &:hover,
      &:focus {
        background-color: var(--hover-color-darken);
      }
    }

    &.is-active {
      .maz-stepper__step__number {
        color: white;
      }
    }
  }
}
