.maz-progress-bar {
  color: var(--text-color);
  font-size: 1rem;
  position: relative;
  width: 100%;

  &:not(.maz-border-radius-0) {
    border-radius: var(--border-radius);
  }

  &__bg {
    width: 100%;
    position: relative;
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-color-light);
    transition: all 500ms ease-in-out;

    @import './../_variables/color_names';

    @each $name in $color_names {
      &--#{$name} {
        background-color: var(--#{$name});
      }
    }

    &__anim {
      background-color: white;
      height: inherit;
      border-radius: var(--border-radius);
      opacity: 0;
      animation: n-anim 2s cubic-bezier(0, 0, .2, 1) infinite;
    }
  }

  @keyframes n-anim {
    0% {
      width: 0;
      opacity: .2;
    }

    70% {
      width: 0;
      opacity: .6;
    }

    100% {
      width: 100%;
      opacity: 0;
    }
  }

  @keyframes n-flow {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); }
  }
}
