.maz-list-item {
  position: relative;
  padding: .75rem 1.25rem;
  border: none;
  border-bottom: var(--maz-border-width) solid var(--maz-hover-color);
  margin: 0;
  color: var(--maz-text-color);
  text-align: left;
  width: 100%;
  outline: none;
  background-color: transparent;

  &.cursor-pointer {
    cursor: pointer;
  }

  &.has-hover:hover {
    background-color: var(--maz-hover-color);
  }

  &:first-child {
    border-top-left-radius: var(--maz-border-radius);
    border-top-right-radius: var(--maz-border-radius);
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: var(--maz-border-radius);
    border-bottom-left-radius: var(--maz-border-radius);
    border-bottom: none;
  }
}
