@import './../style-helpers/variables/index.scss';

.maz-responsive-menu {
  position: relative;

  &-collapse {
    background-color: $bg-color;
    position: absolute;
    top: calc(100% + .143em);
    right: 0;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);

    &__items {
      padding: 8px 16px;
      color: $text-color;
      text-decoration: none !important;

      &.router-link-exact-active,
      &.nuxt-link-exact-active {
        color: $primary-color;
      }

      &:hover:not(.router-link-exact-active):not(.nuxt-link-exact-active),
      &:focus:not(.router-link-exact-active):not(.nuxt-link-exact-active) {
        background-color: #EAEAEA;
      }
    }
  }
}

.maz-is-dark.maz-responsive-menu,
.maz-is-dark .maz-responsive-menu {
  &-collapse {
    background-color: var(--bg-color-dark);
    border: 1px solid var(--hover-bg-color-dark);

    &__items {
      color: var(--text-color-dark);

      &.router-link-exact-active {
        color: $primary-color;
      }

      &:hover:not(.router-link-exact-active),
      &:focus:not(.router-link-exact-active) {
        background-color: var(--hover-bg-color-dark);
      }
    }
  }
}
