
@import './../style-helpers/variables/index.scss';

.maz-tabs-bar {
  height: 45px;
  background-color: $bg-color;
  position: relative;

  $this: &;

  display: flex;

  &:not(.align-left) {
    #{$this}__item {
      flex: 1;
    }
  }

  &__item {
    cursor: pointer;
    transition: all .5s;
    background: transparent;
    appearance: none;
    border: none;
    outline: none;
    color: $text-color;
    padding: 0;
    user-select: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;

    &.active {
      color: $primary-color;
      font-weight: 500;
      position: relative;
    }

    &.disabled {
      color: #CCC;
      cursor: not-allowed;
    }

    &:hover {
      background-color: $hover-bg-color;
    }
  }

  &__indicator {
    transition: transform 500ms;
    height: 3px;
    text-align: center;
    position: absolute;
    bottom: 0;

    .maz-sub-bar {
      margin: 0 auto;
      background: $primary-color;
      height: 3px;
      width: 100%;
    }
  }
}

.maz-is-dark .maz-tabs-bar,
.maz-tabs-bar.maz-is-dark {
  background-color: $bg-color-dark;

  .maz-tabs-bar__item {
    color: $text-color-dark;

    &.active {
      color: $primary-color;
    }

    &:hover {
      background-color: $hover-bg-color-dark;
    }

    &.disabled {
      color: $muted-color-dark;
    }
  }
}
