.maz-dialog {
  &--mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    transition: all 300ms ease;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__wrapper {
    vertical-align: middle;
    min-height: 100%;
    width: 100%;
  }

  &__body {
    color: var(--text-color);
  }

  &__container {
    margin: 30px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all 300ms ease;
    max-width: 95%;
    width: 400px;
  }

  &__header {
    background-color: var(--primary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: none;

    &__title {
      color: white;
      font-size: 1.25rem !important;
      margin: 0;
      padding: 0;
    }

    .close-modal i {
      font-size: 1.5rem;
      color: white;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }

  &__footer {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  &--success {
    .maz-dialog__header {
      background-color: var(--success);
    }
  }

  &--danger {
    .maz-dialog__header {
      background-color: var(--danger);
    }
  }

  &--fullsize {
    .maz-dialog {
      &__header {
        border-radius: 0;
      }

      &__wrapper {
        height: 100%;
      }

      &__container {
        margin: 0;
        border-radius: 0;
        flex: 1;
        height: 100%;
        width: 100%;
        max-width: 100%;
      }

      &__body {
        flex: 1;
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}
