@import './../style-helpers/variables/index.scss';

.maz-checkbox {
  padding: 2px 8px;
  transition: all .2s;
  cursor: pointer;

  [type= 'checkbox']:not(:checked),
  [type= 'checkbox']:checked {
    position: absolute;
    left: -9999px;
  }

  [type= 'checkbox']:not(:checked) + label,
  [type= 'checkbox']:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
  }

  [type= 'checkbox'] + label::before {
    border: $border-width solid transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 4px;
    transition: all .2s;
  }

  [type= 'checkbox']:not(:checked) + label::before {
    border-color: darken($border-color, 10%);
  }

  [type= 'checkbox']:checked + label::before {
    border-color: $primary-color;
  }

  [type= 'checkbox']:not(:checked) + label::after,
  [type= 'checkbox']:checked + label::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    font-size: 1em;
    width: 10px;
    height: 10px;
    background-color: $primary-color;
    transition: all .2s;
    border-radius: 2px;
  }

  [type= 'checkbox']:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0);
    color: $primary-color;
  }

  [type= 'checkbox']:checked + label::after {
    opacity: 1;
    transform: scale(1);
    color: $primary-color;
  }
}
