.maz-sidebar {
  &__wrapper {
    background-color: var(--#{$prefix}bg-color);
    position: relative;
    transition-duration: .2s;
    z-index: 1030;

    &__content {
      overflow: hidden;
    }

    &__close-btn {
      position: absolute;
      top: 8px;
      left: 100%;

      button {
        background-color: var(--#{$prefix}bg-color-light);
        border-radius: 0 8px 8px 0;
        width: 23px;
        height: 48px;
        outline: 0;
        cursor: pointer;
        border: none;
        padding: 0;
      }
    }

    &__load-layer {
      background-color: var(--#{$prefix}overlay-color);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1040;
    }

    &__opacity-layer {
      z-index: 9;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: var(--#{$prefix}overlay-color);
      cursor: pointer;
    }

    &.has-shadow {
      box-shadow: 2px 5px 8px rgba(0, 0, 0, .1);

      .maz-sidebar__wrapper__close-btn button {
        box-shadow: 2px 1px 3px rgba(0, 0, 0, .1);
      }

      &.is-right {
        box-shadow: -2px 5px 8px rgba(0, 0, 0, .1);

        .maz-sidebar__wrapper__close-btn button {
          box-shadow: -2px 1px 8px rgba(0, 0, 0, .1);
        }
      }
    }

    &.is-close:not(.is-mini) {
      box-shadow: none !important;
    }

    &.is-right {
      .maz-sidebar__wrapper__close-btn {
        right: 100%;
        left: inherit;

        button {
          border-radius: var(--#{$prefix}border-radius) 0 0 var(--#{$prefix}border-radius);
        }
      }
    }

    &.is-absolute {
      left: 0;
      position: absolute;
      max-width: 90%;
    }

    &.is-absolute.is-right {
      right: 0;
      left: inherit;
    }
  }
}
