@import './../style-helpers/variables/index.scss';

$LG_SIZE: 3.571rem !default;
$MD_SIZE: 2.857rem !default;
$SM_SIZE: 2.286rem !default;

$SPACING: .2857rem !default;

.maz-input-tags {
  $this: &;

  position: relative;
  border: var(--border-width) solid $border-color;
  border-radius: var(--border-radius);
  padding: 0 .5714rem;
  width: 100%;
  min-height: $MD_SIZE;
  background-color: $bg-color;
  overflow: hidden;
  transition-duration: .3s;

  &__input {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition-duration: .3s;
    position: relative;
    font-weight: 400;
    appearance: none;
    outline: none;
    font-size: 1rem;
    z-index: 0;
    min-width: 100px;
    padding-right: .2857rem;
    padding-bottom: .2857rem;
    padding-top: .2857rem;
    color: $text-color;

    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }

    &::-moz-placeholder {
      color: $placeholder-color;
    }

    &:-ms-input-placeholder {
      color: $placeholder-color;
    }

    &::-ms-input-placeholder {
      color: $placeholder-color;
    }

    &:-moz-placeholder {
      color: $placeholder-color;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }

  @each $name, $color in $color_types {
    &.maz-input-tags--#{$name} {
      &.is-focused:not(.is-disabled) {
        border-color: $color;
      }

      .maz-input-tags__input {
        caret-color: $color;
      }
    }
  }

  &.is-focused:not(.is-disabled) {
    &.has-error {
      border-color: $danger-color;
    }

    &.is-valid {
      border-color: $success-color;
    }
  }

  &__tag {
    margin-right: $SPACING;
    margin-bottom: $SPACING;
    margin-top: $SPACING;
    border-radius: calc(#{$border-radius} / 2);
    padding-right: .2857rem;
    padding-left: .5rem;
    color: white;
    height: calc(#{$MD_SIZE} - #{$SPACING * 2} - #{$border-width * 2});

    &__text {
      margin-right: .3571rem;
    }

    &__clear {
      font-size: 1.2rem;
    }

    &.maz-btn::before {
      border: none;
    }
  }

  &__toggle-btn {
    $clear-size: 1.714rem;

    position: absolute;
    top: 1px;
    bottom: 0;
    right: .5714rem;
    margin: auto 0;
    width: $clear-size;
    height: $clear-size;
    appearance: none;
    border: none;
    background-color: transparent;
    color: $input-icon-color;
    border-radius: $clear-size;
    cursor: pointer;
    font-size: .857rem;

    &:focus {
      outline: none;
    }

    &__icon {
      position: relative;
      font-size: 1.286rem;
    }

    &__effect {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: $clear-size;
      height: $clear-size;
      background-color: darken($border-color, 10%);
      border-radius: $clear-size;
      transform: scale(0);
      transition: transform 200ms;
    }

    &:hover {
      color: white;

      .maz-input-tags__toggle-btn__effect {
        transform: scale(1);
        opacity: .6;
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    border-color: #CCC;
    background-color: #F2F2F2;
    color: $grey-color;

    #{$this}__input {
      cursor: not-allowed;
      color: $grey-color;

      &::-webkit-input-placeholder {
        color: $grey-color;
      }

      &::-moz-placeholder {
        color: $grey-color;
      }

      &:-ms-input-placeholder {
        color: $grey-color;
      }

      &::-ms-input-placeholder {
        color: $grey-color;
      }

      &:-moz-placeholder {
        color: $grey-color;
      }

      &::placeholder {
        color: $grey-color;
      }
    }
  }

  &__loader {
    bottom: 0;
    height: var(--border-width);
    left: var(--border-radius) / 2;
    width: calc(100% - .5714rem);
    position: absolute;
    overflow: hidden;
    border-radius: var(--border-radius);

    &__progress-bar {
      background-color: $primary-color;
      display: block;
      position: absolute;
      content: '';
      left: -200px;
      width: 200px;
      height: .1429rem;
      animation: loading 2s linear infinite;
    }
  }

  &--sm {
    min-height: $SM_SIZE;

    #{$this}__input {
      font-size: .857em;
      min-height: 2.286rem;
    }

    #{$this}__tag {
      // font-size: .857em;
      padding-right: .1429rem;
      padding-left: .3571rem;
      height: calc(#{$SM_SIZE} - #{$SPACING * 2} - #{$border-width * 2});
    }
  }

  &--lg {
    min-height: $LG_SIZE;

    #{$this}__input {
      font-size: 1.143rem;
      min-height: 3.286rem;
    }

    #{$this}__tag {
      padding-left: .7143rem;
      padding-right: .3571rem;
      height: calc(#{$LG_SIZE} - #{$SPACING * 2} - #{$border-width * 2});
    }
  }
}

.maz-is-dark .maz-input-tags,
.maz-is-dark.maz-input-tags {
  background-color: $bg-color-dark-light;
  border-color: $border-color-dark;

  &__input {
    color: $text-color-dark;

    &::-webkit-input-placeholder {
      color: $placeholder-color-dark;
    }

    &::-moz-placeholder {
      color: $placeholder-color-dark;
    }

    &:-ms-input-placeholder {
      color: $placeholder-color-dark;
    }

    &::-ms-input-placeholder {
      color: $placeholder-color-dark;
    }

    &:-moz-placeholder {
      color: $placeholder-color-dark;
    }

    &::placeholder {
      color: $placeholder-color-dark;
    }
  }

  &__toggle-btn {
    color: $input-icon-color-dark;

    &__effect {
      background-color: darken($input-icon-color-dark, 10%);
    }
  }
}
