.maz-carousel {
  position: relative;
  width: 100%;

  &__items {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;

    > *:not(:last-child) {
      margin-right: 1.5rem;
    }

    &__spacer {
      flex: 0 0 1px;
      width: 1px;
      height: 1px;
    }
  }

  &__btn {
    &--muted {
      fill: var(--maz-grey) !important;
      color: var(--maz-grey) !important;
    }
  }
}
