@import './../style-helpers/variables/index.scss';

.maz-avatar {
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  position: relative;
  // z-index: 999;

  img {
    transition: all .4s ease-in-out;
  }

  &__avatar-link {
    height: 100%;
  }

  $this: &;

  &.editable {
    #{$this}__editable-layer {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 100%;
      background-color: transparent;
      transition: all .3s ease-in-out;
      transform: scale(0);
      cursor: pointer;

      i {
        color: white;
      }
    }

    &:hover {
      img {
        filter: blur(1.5px);
      }

      #{$this}__editable-layer {
        opacity: 1;
        transform: scale(1);
        background-color: rgba($primary-color, .4);
      }
    }
  }

  &.bordered {
    border: calc(#{var(--border-width)} * 2) solid $border-color;
  }

  &.has-link {
    cursor: pointer;
  }

  &__picture {
    vertical-align: middle;
    height: 100%;
  }

  &.square {
    border-radius: var(--border-radius);
  }
}
