@import './../style-helpers/variables/index.scss';

.maz-bottom-sheet {
  &__mask {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 500ms ease-in-out;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    overflow: hidden;

    &:not(.no-overlay) {
      background-color: var(--overlay-color);
      cursor: pointer;
    }
  }

  &__container {
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0 -5px 8px rgba(0, 0, 0, .1);
  }

  &__wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
