.maz-gallery {
  position: relative;
  overflow: hidden;

  &__hidden {
    display: none;
  }

  &__item {
    position: absolute;
    top: 0;
    height: 50%;
    padding: 0;
    width: 100%;
    border-left: var(--maz-border-width) solid transparent;
    overflow: hidden;

    &--1 {
      left: 0;
      height: 100%;

      &:not(:last-child) {
        width: 50%;
      }
    }

    &--2 {
      left: 50%;
      width: 50%;
      height: 50%;

      &:last-child {
        height: 100%;
      }

      &:nth-last-child(4) {
        width: 25%;
      }
    }

    &--3 {
      top: 50%;
      left: 50%;
      width: 25%;

      &:last-child {
        width: 50%;
      }

      &:nth-last-child(3) {
        top: 0;
        left: 75%;
      }
    }

    &--4 {
      top: 50%;
      left: 50%;
      width: 25%;
      border-top: var(--maz-border-width) solid transparent;

      &:last-child {
        left: 75%;
        width: 25%;
      }
    }

    &--5 {
      top: 50%;
      left: 75%;
      width: 25%;
      border-top: var(--maz-border-width) solid transparent;
    }

    &:first-child {
      border-left: 0;
    }

    &--3:last-child,
    &--3:nth-last-child(2),
    &--4:last-child,
    &--5 {
      border-top: var(--maz-border-width) solid transparent;
    }

    &__image {
      // display: block;
      height: 100%;
      max-width: 100%;
      width: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, .05);
    }
  }

  &__remaining-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    span {
      color: white;
      font-size: 2rem;
    }
  }
}
