@import './../style-helpers/variables/index.scss';

.maz-btn-group {
  &__item {
    margin-right: -2px;
    z-index: 0;
    border-radius: 0;

    &.#{$prefix}active,
    &:focus {
      z-index: 1;

      &::before {
        border: none;
      }
    }

    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    &.#{$prefix}btn--outline {
      &::after {
        border-radius: 0;
      }

      &:first-child::after {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
      }

      &:last-child::after {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }

      &.#{$prefix}btn--rounded {
        &::after {
          border-radius: 0;
        }

        &:first-child::after {
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
        }

        &:last-child::after {
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
        }
      }
    }

    &.#{$prefix}btn--rounded {
      border-radius: 0;

      &:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }

      &:last-child {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
  }
}
