
@import './../_variables/color_names';

.maz-search {
  position: relative;

  &--sm {
    font-size: .857rem;
  }

  &--lg {
    font-size: 1.143rem;
  }

  &__items {
    z-index: 9;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    max-width: 100%;
    position: absolute;
    top: 100%;
    border-radius: var(--maz-border-radius);
    width: 100%;
    background-color: var(--maz-bg-color);
    max-height: 250px;

    &__item {
      padding: 7px 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1em;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: var(--maz-text-color);
      width: 100%;
      outline: none;
      text-align: left;

      &:hover,
      &.keyboard-selected {
        background-color: var(--maz-hover-color-darken);
      }

      &.selected {
        color: white;
        font-weight: 600;
      }
    }
  }

  &__no-data {
    i { font-size: 2rem; }
  }

  @each $name in $color_names {
    &--#{$name} {
      .maz-search__items__item.selected {
        background-color: var(--maz-#{#{$name}});

        &.keyboard-selected,
        &:hover {
          background-color: var(--maz-#{#{$name}}-darken);
        }
      }
    }
  }
}
