.maz-btn {
  @import './maz-spinner.scss';

  position: relative;

  &.hidden {
    color: transparent;
  }

  &__spinner {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
