.maz-img {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  transition: all 300ms ease-in-out, width 0ms, height 0ms;

  &--loading {
    width: 200px;
    height: 200px;
  }

  &--fullwidth {
    width: 100% !important;
  }

  &:not(.maz-img--no-shadow) {
    box-shadow: 0 0 1rem 0 rgba(2, 32, 43, .1);
  }

  $this: &;

  &__bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    transition: all 300ms ease-in-out;

    &--contain,
    &--fullsize {
      background-size: contain;
    }
  }

  figcaption {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--maz-overlay-color);
  }
}
