@import './../style-helpers/variables/index.scss';

.maz-pagination {
  &__container {
    height: 50px;
    border-radius: 50px;
    padding: 0 10px;
    background-color: var(--hover-color);
  }
}

@import './maz-pagination/pagination-arrow-btn';
@import './maz-pagination/pagination-dots-divider';
@import './maz-pagination/pagination-number-btn';
