@import './../style-helpers/variables/index.scss';

.maz-phone-number-input {
  .select-country-container {
    flex: 0 0 120px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
  }

  &.sm .select-country-container {
    flex: 0 0 110px;
    width: 110px;
    min-width: 110px;
    max-width: 110px;
  }

  &.lg .select-country-container {
    flex: 0 0 130px;
    width: 130px;
    min-width: 130px;
    max-width: 130px;
  }
}

@import './maz-phone-number-input/input-tel';
@import './maz-phone-number-input/country-selector';
