@import './../style-helpers/variables/index.scss';

.maz-collapse {
  color: $text-color;
  border-radius: $border-radius;
  overflow: hidden;
  border: $border-width solid $hover-bg-color;

  &__header-btn {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: $text-color;
    width: 100%;
    outline: none;
    font-size: 1rem;

    &:focus {
      box-shadow: none;
    }
  }

  &__content {
    border-top: $border-width solid $text-color-dark;
  }
}

.maz-is-dark .maz-collapse,
.maz-is-dark.maz-collapse {
  color: $text-color-dark;
  background-color: $bg-color-dark;
  border-color: lighten($hover-bg-color-dark, 10%);

  &__header-btn {
    color: $text-color-dark;

    &:hover,
    &:focus {
      background-color: $hover-bg-color-dark;
    }
  }

  &__content {
    border-color: lighten($hover-bg-color-dark, 10%);
  }
}
