.maz-slider {
  &__bar {
    position: relative;
    border-radius: calc(var(--#{$prefix}border-radius) * 2);
  }

  &__divider {
    position: absolute;
    border-radius: 2em;
    height: 100%;
  }

  &__btn {
    position: absolute;
    outline: none;
    cursor: pointer;
    color: var(--#{$prefix}text-color);
    border-radius: 1em;
    box-shadow: 0 0 6px 0 rgba(48, 48, 48, .3);
    border: none;
    font-size: 1.2em;
    background-color: var(--#{$prefix}bg-color-light);
    padding: 0 4px;
    font-weight: bold;
    line-height: 1;
    transition: box-shadow 300ms ease-in-out, width 300ms ease-in-out, transform 300ms ease-in-out, background-color 300ms ease-in-out;
    z-index: 1;
    user-select: none;

    &.active-cursor {
      z-index: 2;
      transform: scale(1.3);
    }

    &::before {
      content: attr(data-label);
      color: var(--#{$prefix}text-color);
      font-size: 1em;
      font-weight: normal;
      position: absolute;
      top: -1.8em;
    }

    &:hover {
      background-color: var(--#{$prefix}hover-color);
    }
  }

  @import './../_variables/color_names';

  @each $name in $color_names {
    &.maz-slider--#{$name} {
      .maz-slider {
        &__bar {
          background-color: var(--#{$prefix}#{$name});
        }

        &__btn.active-cursor {
          box-shadow: 0 0 0 .143rem var(--#{$prefix}#{$name}-alpha-60);
        }
      }
    }
  }
}
