@import './../style-helpers/variables/index.scss';

.maz-dialog {
  @import './maz-btn.scss';

  &--mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    transition: all .3s ease;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__wrapper {
    vertical-align: middle;
    min-height: 100%;
    width: 100%;
  }

  &__body {
    color: $text-color;
  }

  &__container {
    margin: 30px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    border-radius: $border-radius;

    @media only screen and (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }

  &__header {
    background-color: $bg-color-dark;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border: none;
    color: $text-color-dark;

    h5 {
      color: white;
      margin-top: 0;
      font-size: 1.25rem !important;
    }

    .close-modal i {
      font-size: 1.286em;
      color: white;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }

  &--success {
    .maz-dialog__header {
      background-color: $success-color;
    }
  }

  &--danger {
    .maz-dialog__header {
      background-color: $danger-color;
    }
  }
}

.maz-is-dark .maz-dialog,
.maz-is-dark.maz-dialog {
  &__body {
    background-color: $hover-bg-color-dark;
    color: $text-color-dark;
  }

  &__footer {
    background-color: $hover-bg-color-dark;

    button {
      color: $text-color-dark;
    }
  }
}
