.maz-switch {
  &__input {
    position: absolute;
    left: -9999px;
  }

  &__toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);

    &::before {
      content: '';
      position: relative;
      top: 3px;
      left: 3px;
      width: 34px;
      height: 14px;
      display: block;
      border-radius: 8px;
      transition: all 200ms ease-in-out;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 50%;
      box-shadow: 0 3px 8px rgba(black, .2);
      transition: all 200ms ease-in-out;

      &::before {
        content: '';
        position: absolute;
        display: block;
        margin: -18px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        transform: scale(0);
        opacity: 1;
        pointer-events: none;
      }
    }
  }

  &__input:checked + &__toggle {
    span {
      transform: translateX(20px);

      &::before {
        transform: scale(1);
        opacity: 0;
        transition: all 400ms ease-in-out;
      }
    }
  }

  &__input:disabled + &__toggle {
    cursor: not-allowed;
  }

  @import './../_variables/color_names';

  @each $name in $color_names {
    &--#{$name} {
      .maz-switch__input:focus + .maz-switch__toggle span {
        background-color: var(--#{$prefix}#{$name}-darken);
        box-shadow: 0 0 0 .143rem var(--#{$prefix}#{$name}-alpha-60);
        border-radius: var(--#{$prefix}border-radius);
      }
    }
  }
}
