.maz-collapse {
  color: var(--#{$prefix}text-color);
  border-radius: var(--#{$prefix}border-radius);
  overflow: hidden;
  background-color: var(--#{$prefix}bg-color);
  border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);

  &__header-btn {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--#{$prefix}text-color);
    width: 100%;
    outline: none;
    font-size: 1rem;

    &.maz-btn::before {
      border: none;
    }
  }

  &__content {
    border-top: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
  }
}
