.maz-list {
  display: flex;
  flex-direction: column;
  border-radius: var(--#{$prefix}border-radius);
  margin-left: -1px;
  margin-right: -1px;
  max-width: 100%;

  &:not(.no-scroll) {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &:not(.maz-no-shadow) {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
  }

  &.maz-no-shadow {
    border: var(--#{$prefix}border-width) solid var(--#{$prefix}hover-color);
  }
}
