@import './../style-helpers/variables/index.scss';
@import './maz-phone-number-input/flags/index.scss';

$SM_SIZE: 8.929rem;
$MD_SIZE: 9.857rem;
$LG_SIZE: 10.357rem;

.maz-phone-number-input {
  position: relative;

  &__country-flag {
    position: absolute;
    bottom: .429rem;
    left: .857rem;
    z-index: 2;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .country-selector {
    flex: 0 0 $MD_SIZE;
    width: $MD_SIZE;
    min-width: $MD_SIZE;
    max-width: $MD_SIZE;

    &:focus,
    &.has-list-open {
      z-index: 3;

      ~ .maz-phone-number-input__country-flag {
        z-index: 4;
      }
    }

    .maz-input {
      &.has-error {
        z-index: 1;
      }

      &__input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:not(.no-padding-left) {
      .maz-input__input {
        padding-left: 40px;
      }
    }

    .maz-select__options-list {
      .maz-input__input {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        padding-left: 12px;
      }
    }

    &__calling-code {
      width: 3.214rem;
    }
  }

  &.sm {
    .maz-phone-number-input__country-flag {
      bottom: .357rem;

      > div {
        height: .857rem;
      }
    }

    .country-selector {
      flex: 0 0 $SM_SIZE;
      width: $SM_SIZE;
      min-width: $SM_SIZE;
      max-width: $SM_SIZE;
    }
  }

  &.lg {
    .maz-phone-number-input__country-flag {
      bottom: .643rem;
    }

    .country-selector {
      flex: 0 0 $LG_SIZE;
      width: $LG_SIZE;
      min-width: $LG_SIZE;
      max-width: $LG_SIZE;
    }
  }

  .maz-input.input-phone-number {
    .maz-input__input {
      transition: z-index 0ms;
    }

    &:not(.has-border-radius) {
      .maz-input__input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: - var(--border-width) - 1;
      }
    }

    // &__input {
    //   z-index: 0;

    //   &:focus {
    //     z-index: 1;
    //   }
    // }

    // &__label,
    // &__toggle-btn {
    //   z-index: 1;
    // }
  }
}
