@import './../style-helpers/variables/index.scss';

.maz-dialog {
  &--mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    transition: all 300ms ease;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__wrapper {
    vertical-align: middle;
    min-height: 100%;
    width: 100%;
  }

  &__body {
    color: $text-color;
    max-height: 100%;
    overflow-y: auto;
  }

  &__container {
    margin: 30px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all 300ms ease;

    @media only screen and (max-width: $breakpoint-tablet) {
      width: 95%;
    }
  }

  &__header {
    background-color: $primary-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border: none;
    color: $text-color-dark;

    &__title {
      color: white;
      font-size: 1.25rem !important;
      margin: 0;
      padding: 0;
    }

    .close-modal i {
      font-size: 1.5rem;
      color: white;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }

  &__footer {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &--success {
    .maz-dialog__header {
      background-color: $success-color;
    }
  }

  &--danger {
    .maz-dialog__header {
      background-color: $danger-color;
    }
  }

  &--fullsize {
    .maz-dialog {
      &__header {
        border-radius: 0;
      }

      &__wrapper {
        height: 100%;
      }

      &__container {
        margin: 0;
        border-radius: 0;
        flex: 1;
        height: 100%;
        width: 100%;
      }

      &__body {
        flex: 1;
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}
