@import './../style-helpers/variables/index.scss';
@import './maz-dropzone/_maz-dropzone-base.scss';

.maz-dropzone {
  border: var(--border-width) dashed var(--border-color);
  min-height: 245px;
  background-color: var(--bg-color);
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: all 300ms ease-in-out;

  .dz-preview {
    margin: 0;
    min-height: auto;
    background: transparent;
    max-width: 200px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.dz-image-preview {
      background-color: transparent;
    }
  }

  .dz-progress {
    overflow: visible;
    background-color: var(--hover-color);
    width: 150px;
    left: calc(50% - 35px);

    .dz-upload {
      background-color: var(--primary);
      border-radius: 16px;
    }

    .progress-title {
      display: inline-block;
      position: relative;
      top: -30px;
    }
  }

  .dz-message {
    margin: 0;
    text-align: center;
  }

  .dz-success-mark {
    .material-icons {
      background-color: var(--success-alpha-60);
      border-radius: 50%;
      color: white;
      font-size: 70px;
    }
  }

  .dz-error-mark {
    text-align: center;

    .material-icons {
      background-color: var(--danger-alpha-60);
      border-radius: 50%;
      color: white;
      font-size: 70px;
    }
  }

  .dz-preview .dz-image {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-radius: var(--border-radius);
    border-color: var(--hover-color);

    > div {
      width: inherit;
      height: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    > img {
      width: 100%;
    }
  }

  .dz-preview .dz-details {
    width: 100%;
    height: 200px;
    color: white;
    background-color: var(--primary-alpha-60);
    transition: opacity .2s linear;
    text-align: center;
    border-radius: var(--border-radius);
  }

  .dz-error.dz-preview .dz-details {
    background-color: var(--danger-alpha-60);
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--hover-color);

    .dz-message .material-icons {
      color: var(--primary) !important;
    }
  }
}
