@import './../style-helpers/variables/index.scss';

.maz-radio {
  transition: all 300ms ease-in-out;
  cursor: pointer;
  margin-left: 2px;
  min-height: 22px;

  [type= 'radio']:not(:checked),
  [type= 'radio']:checked {
    position: absolute;
    left: -9999px;
  }

  [type= 'radio']:not(:checked) + label,
  [type= 'radio']:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    user-select: none;
  }

  [type= 'radio'] + label::before {
    border: var(--border-width) solid transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
  }

  [type= 'radio']:not(:checked) + label::before {
    border-color: var(--bg-color-light);
  }

  [type= 'radio']:not(:checked) + label::after,
  [type= 'radio']:checked + label::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    font-size: 1rem;
    width: 10px;
    height: 10px;
    transition: all 300ms ease-in-out;
    border-radius: 50%;
  }

  [type= 'radio']:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0);
  }

  [type= 'radio']:checked + label::after {
    opacity: 1;
    transform: scale(1);
  }

  @each $name in $color_types_new {
    &--#{$name} {
      [type= 'radio']:checked + label::before {
        border-color: var(--#{$name});
      }

      [type= 'radio']:not(:checked) + label::after,
      [type= 'radio']:checked + label::after {
        background-color: var(--#{$name});
        color: var(--#{$name});
      }

      [type= 'radio']:focus {
        + label::before {
          box-shadow: 0 0 0 .143rem var(--#{$name}-alpha-6);
          border-color: var(--#{$name}-darken);
        }

        + label::after {
          background-color: var(--#{$name}-darken);
        }
      }
    }
  }
}
