@layer maz-ui-theme {
  :root {
    --maz-radius: 0.75rem;
    --maz-border-width: 2px;
    --maz-font-family: inter, sans-serif;
    --maz-primary-50: 200 19% 95%;
    --maz-primary-100: 200 34.2% 90%;
    --maz-primary-200: 200 49.4% 80%;
    --maz-primary-300: 200 64.6% 70%;
    --maz-primary-400: 200 79.8% 60%;
    --maz-primary-500: 200 95% 50%;
    --maz-primary-600: 200 100% 40%;
    --maz-primary-700: 200 100% 30%;
    --maz-primary-800: 200 100% 20%;
    --maz-primary-900: 200 100% 10%;
    --maz-secondary-50: 210 12% 95%;
    --maz-secondary-100: 210 60% 90%;
    --maz-secondary-200: 210 31.2% 80%;
    --maz-secondary-300: 210 40.8% 70%;
    --maz-secondary-400: 210 50.4% 60%;
    --maz-secondary-500: 210 60% 50%;
    --maz-secondary-600: 210 66% 40%;
    --maz-secondary-700: 210 72% 30%;
    --maz-secondary-800: 210 78% 20%;
    --maz-secondary-900: 210 84% 10%;
    --maz-accent-50: 180 20% 95%;
    --maz-accent-100: 180 100% 85%;
    --maz-accent-200: 180 52% 80%;
    --maz-accent-300: 180 68% 70%;
    --maz-accent-400: 180 84% 60%;
    --maz-accent-500: 180 100% 50%;
    --maz-accent-600: 180 100% 40%;
    --maz-accent-700: 180 100% 30%;
    --maz-accent-800: 180 100% 20%;
    --maz-accent-900: 180 100% 10%;
    --maz-destructive-50: 0 16.8% 95%;
    --maz-destructive-100: 0 30.3% 90%;
    --maz-destructive-200: 0 43.8% 80%;
    --maz-destructive-300: 0 57.3% 70%;
    --maz-destructive-400: 0 84.2% 60.2%;
    --maz-destructive-500: 0 84.2% 50%;
    --maz-destructive-600: 0 92.6% 40%;
    --maz-destructive-700: 0 100% 30%;
    --maz-destructive-800: 0 100% 20%;
    --maz-destructive-900: 0 100% 10%;
    --maz-success-50: 160 16.8% 95%;
    --maz-success-100: 160 30.2% 90%;
    --maz-success-200: 160 43.7% 80%;
    --maz-success-300: 160 57.1% 70%;
    --maz-success-400: 160 70.6% 60%;
    --maz-success-500: 160 84% 50%;
    --maz-success-600: 160 84% 39%;
    --maz-success-700: 160 100% 30%;
    --maz-success-800: 160 100% 20%;
    --maz-success-900: 160 100% 10%;
    --maz-warning-50: 25 19% 95%;
    --maz-warning-100: 25 34.2% 90%;
    --maz-warning-200: 25 49.4% 80%;
    --maz-warning-300: 25 64.6% 70%;
    --maz-warning-400: 25 79.8% 60%;
    --maz-warning-500: 25 95% 53%;
    --maz-warning-600: 25 100% 40%;
    --maz-warning-700: 25 100% 30%;
    --maz-warning-800: 25 100% 20%;
    --maz-warning-900: 25 100% 10%;
    --maz-contrast-50: 210 8% 95%;
    --maz-contrast-100: 210 40% 85%;
    --maz-contrast-200: 210 20.8% 80%;
    --maz-contrast-300: 210 27.2% 70%;
    --maz-contrast-400: 210 33.6% 60%;
    --maz-contrast-500: 210 40% 50%;
    --maz-contrast-600: 210 44% 40%;
    --maz-contrast-700: 210 48% 30%;
    --maz-contrast-800: 210 52% 20%;
    --maz-contrast-900: 210 56% 10%;
  }

  .dark {
    --maz-primary-50: 200 20% 95%;
    --maz-primary-100: 200 36% 90%;
    --maz-primary-200: 200 52% 80%;
    --maz-primary-300: 200 100% 70%;
    --maz-primary-400: 200 84% 60%;
    --maz-primary-500: 200 100% 50%;
    --maz-primary-600: 200 100% 40%;
    --maz-primary-700: 200 100% 30%;
    --maz-primary-800: 200 100% 20%;
    --maz-primary-900: 200 100% 10%;
    --maz-secondary-50: 200 6% 95%;
    --maz-secondary-100: 200 10.8% 90%;
    --maz-secondary-200: 200 15.6% 80%;
    --maz-secondary-300: 200 20.4% 70%;
    --maz-secondary-400: 200 25.2% 60%;
    --maz-secondary-500: 200 30% 50%;
    --maz-secondary-600: 200 33% 40%;
    --maz-secondary-700: 200 36% 30%;
    --maz-secondary-800: 200 30% 15%;
    --maz-secondary-900: 200 42% 10%;
    --maz-accent-50: 180 16% 95%;
    --maz-accent-100: 180 28.8% 90%;
    --maz-accent-200: 180 41.6% 80%;
    --maz-accent-300: 180 54.4% 70%;
    --maz-accent-400: 180 67.2% 60%;
    --maz-accent-500: 180 80% 50%;
    --maz-accent-600: 180 88% 40%;
    --maz-accent-700: 180 80% 25%;
    --maz-accent-800: 180 100% 20%;
    --maz-accent-900: 180 100% 10%;
    --maz-destructive-50: 0 12.6% 95%;
    --maz-destructive-100: 0 22.6% 90%;
    --maz-destructive-200: 0 32.7% 80%;
    --maz-destructive-300: 0 42.7% 70%;
    --maz-destructive-400: 0 52.8% 60%;
    --maz-destructive-500: 0 62.8% 50%;
    --maz-destructive-600: 0 69.1% 40%;
    --maz-destructive-700: 0 62.8% 30.6%;
    --maz-destructive-800: 0 81.6% 20%;
    --maz-destructive-900: 0 87.9% 10%;
    --maz-success-50: 160 14% 95%;
    --maz-success-100: 160 25.2% 90%;
    --maz-success-200: 160 36.4% 80%;
    --maz-success-300: 160 47.6% 70%;
    --maz-success-400: 160 58.8% 60%;
    --maz-success-500: 160 70% 45%;
    --maz-success-600: 160 77% 40%;
    --maz-success-700: 160 84% 30%;
    --maz-success-800: 160 91% 20%;
    --maz-success-900: 160 98% 10%;
    --maz-warning-50: 25 19% 95%;
    --maz-warning-100: 25 34.2% 90%;
    --maz-warning-200: 25 49.4% 80%;
    --maz-warning-300: 25 64.6% 70%;
    --maz-warning-400: 25 79.8% 60%;
    --maz-warning-500: 25 95% 53%;
    --maz-warning-600: 25 100% 40%;
    --maz-warning-700: 25 100% 30%;
    --maz-warning-800: 25 100% 20%;
    --maz-warning-900: 25 100% 10%;
    --maz-contrast-50: 200 10% 95%;
    --maz-contrast-100: 200 18% 90%;
    --maz-contrast-200: 200 26% 80%;
    --maz-contrast-300: 200 34% 70%;
    --maz-contrast-400: 200 42% 60%;
    --maz-contrast-500: 200 50% 50%;
    --maz-contrast-600: 200 55% 40%;
    --maz-contrast-700: 200 60% 30%;
    --maz-contrast-800: 200 65% 20%;
    --maz-contrast-900: 200 50% 8%;
  }
}
