.footer-picker {
  &__validate {
    padding-top: 4px;
    padding-bottom: 4px;

    i.material-icons {
      font-size: 20px;
    }
  }

  > :nth-child(2) {
    margin-left: .5rem;
  }
}

@each $name in $color_types_new {
  .maz-picker--#{$name} {
    .footer-picker__now {
      color: var(--#{$name});
    }
  }
}
