$headerTextSize: 18px;

.header-picker {
  // background: white;
  // // border-bottom: 1px solid #EAEAEA;
  // color: white;
  position: relative;

  &-year {
    opacity: .7;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    height: 14px;
  }

  &-date,
  &-time,
  &-minute,
  &-hour,
  &-range {
    font-size: $headerTextSize;
    line-height: $headerTextSize;
    position: relative;
    height: $headerTextSize;
  }

  &-date {
    text-transform: capitalize;
  }

  &-hour.twelve {
    min-width: 74px;
  }

  .pl-10 {
    padding-left: 10px;
  }

  .time-number {
    width: 22px;
  }

  &.is-dark {
    border: 0;
    color: white !important;
  }
}
