.maz-picker {
  position: relative;
  font-weight: 300;

  .maz-picker__arrow {
    color: $icon-color;
    outline: none;
    transition: all .25s cubic-bezier(.645, .045, .355, 1);

    svg path.arrow {
      fill: $icon-color;
    }
  }

  &__overlay {
    display: none;
  }
}

.is-dark.maz-picker,
.is-dark .maz-picker {
  .maz-picker__arrow {
    color: $icon-color-dark;

    svg path.arrow {
      fill: $icon-color-dark;
    }
  }
}

@import './footer-picker.scss';
@import './header-picker.scss';
@import './month-picker.scss';
@import './pickers-container.scss';
@import './time-picker.scss';
@import './week-days-labels.scss';
@import './year-month-selector.scss';
@import './responsive.scss'
