.month-picker {
  min-height: 194px;
  min-width: 268px;
  width: 100%;
  overflow: hidden;

  &--long {
    min-height: 231px;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    width: 100%;
    justify-items: center;
  }

  &__day {
    $day-size: 32px;

    padding: 0;
    width: $day-size;
    height: $day-size;
    font-size: 1rem;
    z-index: 1;
    position: relative;

    &::before {
      border: none !important;
    }

    &.highlight:not(.maz-active):not(.btn--disabled)::before,
    &.is-keyboard-selected:not(.maz-active)::before {
      $circle-size: 26px;

      content: '';
      position: absolute;
      height: $circle-size;
      width: $circle-size;
      border-radius: $circle-size;
      background-color: rgba(black, .15);
      z-index: -1;
    }

    &.is-keyboard-selected {
      font-weight: 700;

      &:not(.maz-active)::before {
        border-radius: $border-radius;
        background-color: rgba(black, .15);
      }
    }

    &.is-between-hoverred {
      color: white;
    }

    &.is-in-range {
      color: white;
      width: calc(100% + 5px);

      &:not(.maz-active) {
        border-radius: 0;
      }

      &.maz-active:not(.is-last-in-range) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.is-last-in-range:not(.is-first-in-range) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.maz-active:not(:disabled) {
      color: white;
      font-weight: 600;
    }

    &:hover {
      color: white;
    }

    &:disabled {
      color: rgba(black, .25);
      border: none;
    }
  }
}

@each $name, $color in $color_types {
  .maz-picker--#{$name} {
    .month-picker {
      &__day {
        &.is-between-hoverred {
          background-color: rgba($color, .4);
        }

        &.is-in-range {
          background-color: rgba($color, .6);
        }

        &.maz-active:not(:disabled) {
          background-color: $color;
        }

        &:hover {
          background-color: rgba($color, .4);
        }

        &:disabled {
          background-color: transparent;
        }
      }
    }
  }
}

.maz-is-dark {
  .maz-picker .month-picker__day:disabled {
    color: darken($text-muted-dark, 50%);
  }
}
