.shortcuts-container {
  width: 140px;
  max-width: 140px;
  min-width: 140px;
  padding: 10px 5px;
  border-right: 1px solid #EAEAEA;
  overflow: auto;

  button.shortcut-button {
    margin-bottom: 10px;
    width: 100%;
  }

  &.is-dark {
    border-color: lighten(#424242, 20%);
  }
}

@media screen and (max-width: 415px) {
  .shortcuts-container:not(.inline) {
    width: 100%;
    max-width: 100vw;
    min-width: 100vw;
    border-right: 0;
    border-bottom: 1px solid #EAEAEA;
    height: 52px !important;
    flex-direction: row;
    display: flex;
    white-space: nowrap;

    .shortcut-button {
      margin-bottom: 0;
    }

    .shortcut-button:not(:last-child) {
      margin-right: 10px;
    }
  }

  .shortcuts-container.is-dark {
    border-color: lighten(#424242, 20%);
  }
}
