.time-picker {
  width: 160px;
  max-width: 160px;
  position: relative;
  z-index: 1;

  $item-height: 28px;

  .maz-btn {
    transition: 0ms;
  }

  &::after,
  &::before {
    content: '';
    top: calc(50% - 19px);
    position: absolute;
    height: 38px;
    z-index: -1;
    left: 0;
    right: 0;
    border-top: $border-width solid $border-color;
    border-bottom: $border-width solid $border-color;
  }

  &__column {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    // hide scroll bar
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      height: $item-height;
      width: 45px;

      &::before {
        border: none !important;
      }

      &:hover {
        color: white;
      }

      &.maz-active {
        color: white;
        font-weight: bold;
      }

      &:disabled {
        color: rgba(black, .25);
        background-color: transparent;
        border: none;
      }
    }
  }
}

@each $name, $color in $color_types {
  .maz-picker--#{$name} {
    .time-picker__column__item {
      &:hover,
      &:focus {
        background-color: rgba($color, .4);
      }

      &.maz-active {
        background-color: $color;
      }
    }
  }
}

.maz-is-dark .time-picker,
.maz-is-dark.time-picker {
  &::after,
  &::before {
    border-color: $border-color-dark;
  }
}
