:root {
  --maz-color-primary-50: hsl(210, 100%, 96%);
  --maz-color-primary-100: hsl(210, 100%, 86%);
  --maz-color-primary-200: hsl(210, 100%, 81%);
  --maz-color-primary-300: hsl(210, 100%, 71%);
  --maz-color-primary-400: hsl(210, 100%, 66%);
  --maz-color-primary-600: hsl(210, 100%, 46%);
  --maz-color-primary-700: hsl(210, 100%, 36%);
  --maz-color-primary-800: hsl(210, 100%, 26%);
  --maz-color-primary-900: hsl(210, 100%, 16%);
  --maz-color-primary: hsl(210, 100%, 56%);
  --maz-color-primary-alpha: hsla(210, 100%, 56%, 0.6);
  --maz-color-primary-alpha-20: hsla(210, 100%, 56%, 0.2);
  --maz-color-primary-alpha-10: hsla(210, 100%, 56%, 0.1);
  --maz-color-primary-alpha-05: hsla(210, 100%, 56%, 0.05);
  --maz-color-primary-contrast: hsl(0, 0%, 100%);

  --maz-color-secondary-50: hsl(164, 76%, 86%);
  --maz-color-secondary-100: hsl(164, 76%, 76%);
  --maz-color-secondary-200: hsl(164, 76%, 71%);
  --maz-color-secondary-300: hsl(164, 76%, 61%);
  --maz-color-secondary-400: hsl(164, 76%, 56%);
  --maz-color-secondary-600: hsl(164, 76%, 36%);
  --maz-color-secondary-700: hsl(164, 76%, 26%);
  --maz-color-secondary-800: hsl(164, 76%, 16%);
  --maz-color-secondary-900: hsl(164, 76%, 6%);
  --maz-color-secondary: hsl(164, 76%, 46%);
  --maz-color-secondary-alpha: hsla(164, 76%, 46%, 0.6);
  --maz-color-secondary-alpha-20: hsla(164, 76%, 46%, 0.2);
  --maz-color-secondary-alpha-10: hsla(164, 76%, 46%, 0.1);
  --maz-color-secondary-alpha-05: hsla(164, 76%, 46%, 0.05);
  --maz-color-secondary-contrast: hsl(0, 0%, 100%);

  --maz-color-text-light: hsl(210, 8%, 14%);
  --maz-color-muted-light: hsla(0, 0%, 0%, 0.54);
  --maz-bg-color-light: hsl(0, 0%, 100%);
  --maz-bg-color-light-light: hsl(0, 0%, 96%);
  --maz-bg-color-light-lighter: hsl(0, 0%, 93%);
  --maz-bg-color-light-dark: hsl(0, 0%, 89%);
  --maz-bg-color-light-darker: hsl(0, 0%, 85%);
  --maz-color-text-dark: hsl(0, 0%, 85%);
  --maz-color-muted-dark: hsla(0, 0%, 100%, 0.54);
  --maz-bg-color-dark: hsl(235, 16%, 15%);
  --maz-bg-color-dark-light: hsl(235, 16%, 19%);
  --maz-bg-color-dark-lighter: hsl(235, 16%, 22%);
  --maz-bg-color-dark-dark: hsl(235, 16%, 11%);
  --maz-bg-color-dark-darker: hsl(235, 16%, 8%);
}
