@import 'highlight.js/styles/default.css';
@import './override-highlight';
@import '@/assets/icons/index.css';
@import './load-fonts';
@import './../../../packages/scss/mixins/index.scss';
@import './../../../packages/scss/index.scss';
@import './root-variables';

html {
  @include font_family();

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  height: 100%;
  width: 100%;
  background-color: var(--maz-bg-color-light);

  body {
    height: 100%;
  }

  button,
  input,
  textarea {
    @include font_family();
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  hr,
  dl,
  dd,
  figure {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: normal;
    font-weight: normal;
  }

  h1,
  h2 {
    color: var(--maz-primary);
    font-family: GeomanistMedium, sans-serif;
  }

  h3 {
    font-size: 1.7rem;
    font-family: GeomanistLight, sans-serif;
  }

  h4,
  h5,
  h6 {
    font-family: GeomanistLight, sans-serif;
  }

  button,
  a {
    font-weight: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  a:not(.maz-btn):not(.maz-card__link) {
    color: var(--maz-primary);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  #__nuxt,
  #__layout,
  #app {
    &:not(.home) {
      height: 100%;
    }

    &.home {
      min-height: 100%;
    }

    code.code {
      background-color: var(--maz-bg-color-dark);
      color: var(--maz-text-color-dark);
      padding: 2px 6px;
      border-radius: 4px;
    }

    &.maz-is-dark {
      code.code {
        background-color: var(--maz-bg-color-light);
      }
    }
  }
}
