@import '@/assets/icons/index.css';
@import './load-fonts';

html {
  @include font_family();

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  height: 100%;
  width: 100%;
  background-color: whitesmoke;

  body {
    height: 100%;
  }

  button,
  input,
  textarea {
    @include font_family();
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  hr,
  dl,
  dd,
  figure {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: normal;
    font-weight: normal;
  }

  h1,
  h2 {
    color: $primary-color;
    font-family: GeomanistMedium, sans-serif;
  }

  h3 {
    font-size: 1.7rem;
    font-family: GeomanistMedium, sans-serif;
  }

  h4,
  h5,
  h6 {
    font-family: GeomanistLight, sans-serif;
  }

  button,
  a {
    font-weight: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  #__nuxt,
  #__layout,
  #app {
    height: 100%;
  }

  #__layout {
    &.maz-is-dark {
      h3,
      h4,
      h5,
      h6,
      p,
      ul,
      li,
      ol {
        color: $text-color-dark;
      }
    }
  }
}
