@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-font-family-base: var(--maz-font-family);
  --vp-c-bg: hsl(var(--maz-background));
  --vp-c-brand: hsl(var(--maz-primary));
  --vp-c-brand-1: hsl(var(--maz-primary));
  --vp-c-gutter: hsl(var(--maz-background-400));
  --vp-c-brand-light: hsl(var(--maz-primary-400));
  --vp-c-brand-lighter: hsl(var(--maz-primary-300));
  --vp-c-brand-dark: hsl(var(--maz-primary-600));
  --vp-c-brand-darker: hsl(var(--maz-primary-700));
  --vp-home-hero-name-color: hsl(var(--maz-primary));
  --vp-button-brand-bg: hsl(var(--maz-primary));
  --vp-button-brand-border: hsl(var(--maz-primary-600));
  --vp-button-brand-text: hsl(var(--maz-primary-contrast));
  --vp-button-brand-hover-border: hsl(var(--maz-primary-700));
  --vp-button-brand-hover-text: hsl(var(--maz-primary-contrast));
  --vp-button-brand-hover-bg: hsl(var(--maz-primary-600));
  --vp-button-brand-active-border: hsl(var(--maz-primary-700));
  --vp-button-brand-active-text: hsl(var(--maz-primary-contrast));
  --vp-button-brand-active-bg: hsl(var(--maz-primary-600));

  --vp-code-font-size: calc(var(--maz-base-font-size) - 2px);
}

html {
  font-size: var(--maz-base-font-size);
  font-family: var(--maz-font-family);

  @apply maz-text-foreground;

  body {
    font-size: var(--maz-base-font-size);
  }
}

html.dark {
  --vp-c-bg-elv: hsl(235deg 16% 12%);
  --vp-c-bg-elv-mute: hsl(var(--maz-background));
  --vp-c-gutter: hsl(var(--maz-border));
  --vp-c-bg-soft: hsl(var(--maz-background));
}

.text {
  font-weight: 600 !important;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.gap-05 {
  gap: 0.5rem;
}

.rounded {
  border-radius: 0.5rem;
}
