@import './variables/color_types';

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .bg-#{$name} {
      background-color: $color;
    }

    .bg-#{$name}-after::after {
      background-color: $color;
    }

    .bg-#{$name}-before::before {
      background-color: $color;
    }

    .bg-#{$name}-transparency {
      background-color: rgba($color, .5);
    }

    .bg-#{$name}-after-transparency::after {
      background-color: rgba($color, .5);
    }

    .bg-#{$name}-before-transparency::before {
      background-color: rgba($color, .5);
    }
  }
}

.bg-color,
.bg-color-light {
  background-color: $bg-color;
}

.is-dark.bg-color,
.is-dark .bg-color {
  background-color: $bg-color-dark;
}

.bg-color-dark {
  background-color: $bg-color-dark;
}

.bg-color-light-dark {
  background-color: $bg-color-dark-l;
}

.is-dark.bg-color-light,
.is-dark .bg-color-light {
  background-color: $bg-color-dark-l;
}
