@import './variables/sizes';
@import './variables/positions';
@import './variables/borders';
@import './variables/color_types';
@import './variables/states';

.border-color {
  border-color: $border-color;
}

.is-dark.border-color,
.is-dark .border-color {
  border-color: $border-color-dark;
}

.no-border {
  border: none;
}

.border-color-dark {
  border-color: $border-color-dark;
}

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .border-#{$name} {
      border-color: $color;
    }
  }
}

@each $style in $border-styles {
  .border-#{$style} {
    border-style: #{$style};
  }

  @each $position in $positions {
    .border-#{$position}-#{$style} {
      border-#{$position}-style: #{$style};
    }
  }
}

@each $size in $sizes {
  .border-#{$size} {
    border-width: #{$size}px;
  }

  @each $position in $positions {
    .border-#{$position}-#{$size} {
      border-#{$position}-width: #{$size}px;
    }
  }
}

.border {
  border-width: $border-width;
}

@each $position in $positions {
  .border-#{$position} {
    border-#{$position}-width: #{$border-width};
  }
}
