$default-size: 40px;
$medium-size: 36px;
$small-size: 32px;
$mini-size: 30px;

.btn {
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: $primary-color;
  color: white;
  display: inline-block;
  border-radius: var(--maz-border-radius);
  line-height: 1;
  box-sizing: border-box;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: inherit;
  margin: 0;
  user-select: none;
  width: auto;
  overflow: visible;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 10%);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
  }

  &--rounded {
    border-radius: 20px;
  }

  &--md {
    padding: 10px 20px;
    font-size: 14px;
  }

  &--sm {
    padding: 9px 15px;
    font-size: 12px;
  }

  &--mini {
    padding: 7px 15px;
    font-size: 12px;
  }

  &--white,
  &--light {
    color: var(--maz-second-color);
  }
}

a.btn {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@import './variables/_color_types.scss';

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .btn--#{$name} {
      background-color: $color;

      &:hover,
      &:focus {
        background-color: darken($color, 10%);
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba($color, 0.5);
      }

      &--outline {
        background-color: rgba($color, 0.05);
        border: 1px solid $color;
        color: $color;

        &:hover,
        &:focus {
          background-color: $color;
          color: white;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba($color, 0.5);
        }
      }
    }
  }
}

.btn--default--outline {
  color: var(--maz-second-color);
}

.btn--disabled:disabled {
  box-shadow: none;
  background-color: var(--maz-third-color);
  border: 1px solid var(--maz-third-color);
  color: white;
  cursor: not-allowed;
}
