$large-size: 44px;
$default-size: 40px;
$medium-size: 36px;
$small-size: 32px;
$mini-size: 30px;

.btn {
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all .25s cubic-bezier(.645, .045, .355, 1);
  background-color: $primary-color;
  color: white;
  display: inline-block;
  border-radius: $border-radius;
  line-height: 1;
  box-sizing: border-box;
  padding: 12px 20px;
  font-size: 1em;
  font-weight: inherit;
  margin: 0;
  user-select: none;
  width: auto;
  overflow: visible;
  -webkit-font-smoothing: inherit;
  text-decoration: none;
  -moz-osx-font-smoothing: inherit;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 10%);
  }

  &.active {
    background-color: $primary-color;
  }

  &:focus,
  &.active {
    box-shadow: 0 0 0 .143rem rgba($primary-color, .5);
  }

  &:hover,
  &:focus,
  &.active {
    text-decoration: none;
  }

  &--rounded {
    border-radius: 50px;
  }

  &--block {
    width: 100%;
  }

  &--lg {
    padding: 16px 22px;
    font-size: 1.143em;
  }

  &--md {
    padding: 10px 20px;
    font-size: 1em;
  }

  &--sm {
    padding: 9px 15px;
    font-size: .857em;
  }

  &--mini {
    padding: 7px 15px;
    font-size: .857em;
  }

  &--fab {
    border-radius: 50%;
    padding: 0;
    height: 40px;
    width: 40px;

    &.btn--lg {
      height: 50px;
      width: 50px;
    }

    &.btn--md {
      height: 36px;
      width: 36px;
    }

    &.btn--sm {
      height: 32px;
      width: 32px;
    }

    &.btn--mini {
      height: 28px;
      width: 28px;
    }
  }

  &--white,
  &--light {
    color: $secondary-color;
  }
}

@import './variables/_color_types';

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .btn--#{$name} {
      background-color: $color;

      &:hover,
      &:focus {
        background-color: darken($color, 10%);
      }

      &.active {
        background-color: $color;
      }

      &:focus,
      &.active {
        box-shadow: 0 0 0 .143rem rgba($color, .5);
      }

      &--outline {
        background-color: rgba($color, .05);
        border: 1px solid $color;
        color: $color;

        &:hover,
        &:focus,
        &.active {
          background-color: $color;
          color: white;
        }

        &:focus,
        &.active {
          box-shadow: 0 0 0 .143rem rgba($color, .5);
        }
      }
    }
  }
}

.btn--default--outline {
  color: $secondary-color;
}

.btn--disabled:disabled {
  box-shadow: none;
  background-color: $disabled-color;
  border: 1px solid $disabled-color;
  color: white;
  cursor: not-allowed;
}
