$base-container-size: calc(100% - 40px) !default;

:root {
  --base-container-size: calc(100% - 40px);
  --breakpoint-mobile-s: #{$breakpoint-mobile-s};
  --breakpoint-mobile-m: #{$breakpoint-mobile-m};
  --breakpoint-mobile-l: #{$breakpoint-mobile-l};
  --breakpoint-tablet: #{$breakpoint-tablet};
  --breakpoint-laptop-s: #{$breakpoint-laptop-s};
  --breakpoint-laptop-m: #{$breakpoint-laptop-m};
  --breakpoint-laptop-l: #{$breakpoint-laptop-l};
  --breakpoint-4k: #{$breakpoint-4k};
}

.#{$prefix}container {
  width: 100%;
  padding-left: calc(50% - var(--base-container-size) / 2);
  padding-right: calc(50% - var(--base-container-size) / 2);
}

@media (min-width: $breakpoint-laptop-s) {
  :root {
    --base-container-size: var(--breakpoint-tablet);
  }
}

@media (min-width: $breakpoint-laptop-m) {
  :root {
    --base-container-size: var(--breakpoint-laptop-s);
  }
}

@media (min-width: $breakpoint-laptop-l) {
  :root {
    --base-container-size: var(--breakpoint-laptop-m);
  }
}

@media only screen and (min-width: $breakpoint-4k) {
  :root {
    --base-container-size: var(--breakpoint-laptop-l);
  }
}
