.elevation {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}

.no-elevation {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}

.is-dark.elevation,
.is-dark .elevation {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}
