.flex {
  display: flex;

  &.fluid {
    width: 100%;
  }

  &.direction-column {
    flex-direction: column;
  }

  &.direction-column-reserse {
    flex-direction: column-reverse;
  }

  &.direction-row {
    flex-direction: row;
  }

  &.direction-row-reverse {
    flex-direction: row-reverse;
  }

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.flex--wrap {
    flex-wrap: wrap;
  }

  &.flex--grow {
    // spacer
    flex-grow: 1;
  }
}

.flex-fill {
  flex: 0 1 auto;
}

.flex-fixed {
  flex: 0 0 auto;
}

.flex-1 {
  flex: 1;
}

.flex-100 {
  flex: 3 1 100%;
  order: 1;
}

.flex-75 {
  flex: 2 1 75%;
  order: 2;
}

.flex-50 {
  flex: 2 1 50%;
  order: 2;
}

.flex-33 {
  flex: 2 1 33%;
  order: 2;
}

.flex-25 {
  flex: 2 1 25%;
  order: 1;
}
