@import './variables/index.scss';

// Font-size
@each $size in $font-sizes {
  .fs-#{$size} {
    font-size: #{$size}px;
  }
}

// Font-weight
@each $weight in $font-weights {
  .fw-#{$weight} {
    font-weight: #{$weight};
  }
}
