@import './variables/color_types';

.hover-bg-color:hover {
  background-color: $hover-bg-color;
}

.no-hover-bg:hover {
  background: transparent;
}

.hover-bg-color-light:hover {
  background-color: $hover-bg-color-l;
}

.hover-bg-color-dark:hover {
  background-color: $hover-bg-color-dark;
}

.hover-bg-color-dark-light:hover {
  background-color: $hover-bg-color-dark-l;
}

.is-dark.hover-bg-color:hover,
.is-dark .hover-bg-color:hover {
  background-color: $hover-bg-color-dark;
}

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .hover-bg-#{$name}:hover {
      background-color: $color;
    }
  }
}
