@import './variables/index.scss';

@function set-var-class($var) {
  @if ($var == 'margin') {
    @return 'm';
  }

  @else {
    @return 'p';
  }
}

// Font-size
@each $pm in $pms {
  @each $size in $spacing-sizes {
    $p: set-var-class($pm);

    $i: index($spacing-sizes, $size) - 1;

    .#{$p}r-#{$i} {
      #{$pm}-right: #{$size};
    }

    .#{$p}t-#{$i} {
      #{$pm}-top: #{$size};
    }

    .#{$p}b-#{$i} {
      #{$pm}-bottom: #{$size};
    }

    .#{$p}l-#{$i} {
      #{$pm}-left: #{$size};
    }

    .#{$p}x-#{$i} {
      #{$pm}-left: #{$size};
      #{$pm}-right: #{$size};
    }

    .#{$p}y-#{$i} {
      #{$pm}-top: #{$size};
      #{$pm}-bottom: #{$size};
    }

    .#{$p}-#{$i} {
      #{$pm}: #{$size};
    }
  }
}
