table.md {
  border-spacing: 0;
  border-radius: var(--maz-border-radius);
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  overflow: hidden;
  word-break: break-all;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  tr {
    background-color: var(--maz-bg-color);
    width: 100%;

    th,
    td {
      padding: 6px 13px;
      text-align: left;
    }

    &:nth-child(2n) {
      background-color: var(--maz-hover-color);
    }
  }
}

.is-dark table.md {
  color: var(--maz-text-color-dark);

  tr {
    background-color: var(--maz-bg-color-dark);

    &:nth-child(2n) {
      background-color: var(--maz-hover-color-dark);
    }

    td.text-muted {
      color: var(--maz-muted-color-dark);
    }
  }
}
