@import './variables/color_types_new';

.#{$prefix}badge,
.#{$prefix}label {
  background: var(--primary);
  border: var(--border-width) solid var(--primary);
  border-radius: var(--border-radius);
  font-size: 1rem;
  padding: .3em .75em;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, .15);

  &--xl {
    font-size: 1.375rem;
  }

  &--lg {
    font-size: 1.125rem;
  }

  &--md {
    font-size: 1rem;
  }

  &--sm {
    font-size: .875rem;
  }

  &--mini {
    font-size: .75rem;
  }

  &--rounded {
    border-radius: 100px;
  }

  &--outline {
    background-color: transparent;
    border: var(--border-width) solid var(--primary);
    color: var(--primary);
    box-shadow: none;
  }

  @each $name in $color_types_new {
    &--#{$name} {
      background-color: var(--#{$name});
      border-color: var(--#{$name});
      color: white;

      &--outline {
        background-color: transparent;
        border-color: var(--#{$name});
        color: var(--#{$name});
        box-shadow: none;
      }
    }
  }
}
