@import './../_variables/color_names';

@each $name in $color_names {
  .#{$prefix}bg-#{$name} {
    background-color: var(--#{$name});
  }

  .#{$prefix}bg-#{$name}-after::after {
    background-color: var(--#{$name});
  }

  .#{$prefix}bg-#{$name}-before::before {
    background-color: var(--#{$name});
  }

  .#{$prefix}bg-#{$name}-transparency {
    background-color: var(--#{$name}-alpha-50);
  }

  .#{$prefix}bg-#{$name}-after-transparency::after {
    background-color: var(--#{$name}-alpha-50);
  }

  .#{$prefix}bg-#{$name}-before-transparency::before {
    background-color: var(--#{$name}-alpha-50);
  }
}

.#{$prefix}bg-color {
  background-color: var(--bg-color);
}

.#{$prefix}bg-color-light {
  background-color: var(--bg-color-light);
}
