@import './variables/sizes';
@import './variables/positions';
@import './variables/borders';
@import './variables/color_types_new';
@import './variables/states';

.#{$prefix}border-color {
  border-color: var(--border-color);
}

@each $state in $states {
  .#{$prefix}border-color-#{$state}:#{$state} {
    border-color: var(--border-color-darken);
  }
}

.#{$prefix}no-border {
  border: none;
}

@each $name in $color_types_new {
  .#{$prefix}border-#{$name} {
    border-color: var(--#{$name});
  }
}

@each $style in $border-styles {
  .#{$prefix}border-#{$style} {
    border-style: #{$style};
  }

  @each $position in $orientations {
    .#{$prefix}border-#{$position}-#{$style} {
      border-#{$position}-style: #{$style};
    }
  }
}

@each $size in $sizes {
  .#{$prefix}border-#{$size} {
    border-width: #{$size}px;
  }

  @each $position in $orientations {
    .#{$prefix}border-#{$position}-#{$size} {
      border-#{$position}-width: #{$size}px;
    }
  }
}

.#{$prefix}border {
  border-width: var(--border-width);
}

@each $position in $orientations {
  .#{$prefix}border-#{$position} {
    border-#{$position}-width: var(--border-width);
  }
}
