@import './../_variables/sizes';
@import './../_variables/positions';
@import './../_variables/borders';
@import './../_variables/color_names';
@import './../_variables/states';

.#{$prefix}border-color {
  border-color: var(--#{$prefix}border-color);
}

@each $state in $states {
  .#{$prefix}border-color-#{$state}:#{$state} {
    border-color: var(--#{$prefix}border-color-darken);
  }
}

.#{$prefix}no-border {
  border: none;
}

@each $name in $color_names {
  .#{$prefix}border-#{$name} {
    border-color: var(--#{$prefix}#{$name});
  }
}

@each $style in $border-styles {
  .#{$prefix}border-#{$style} {
    border-style: #{$style};
  }

  @each $position in $orientations {
    .#{$prefix}border-#{$position}-#{$style} {
      border-#{$position}-style: #{$style};
    }
  }
}

@each $size in $sizes {
  .#{$prefix}border-#{$size} {
    border-width: #{$size}px;
  }

  @each $position in $orientations {
    .#{$prefix}border-#{$position}-#{$size} {
      border-#{$position}-width: #{$size}px;
    }
  }
}

.#{$prefix}border {
  border-width: var(--#{$prefix}border-width);
}

@each $position in $orientations {
  .#{$prefix}border-#{$position} {
    border-#{$position}-width: var(--#{$prefix}border-width);
  }
}
