$xl-padding: 1.429rem 1.786rem !default;
$lg-padding: 1.143rem 1.571rem !default;
$md-padding: .8571rem 1.429rem !default;
$sm-padding: .6429rem 1.071rem !default;
$mini-padding: .5rem .8571rem !default;

$xl-size: 4.286rem !default;
$lg-size: 3.571rem !default;
$md-size: 2.857rem !default;
$sm-size: 2.286rem !default;
$mini-size: 2rem !default;

.#{$prefix}btn {
  @include font_family();

  border: $border-width solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, .15);
  background-color: $primary-color;
  color: white;
  display: inline-block;
  border-radius: $border-radius;
  line-height: 1;
  box-sizing: border-box;
  font-weight: inherit;
  margin: 0;
  user-select: none;
  width: auto;
  overflow: visible;
  -webkit-font-smoothing: inherit;
  text-decoration: none;
  text-align: center;
  -moz-osx-font-smoothing: inherit;
  padding: $md-padding;
  font-size: 1rem;

  &:hover,
  &:focus,
  &.#{$prefix}active {
    background-color: darken($primary-color, 10%);
    text-decoration: none;
  }

  &:focus,
  &.#{$prefix}active {
    box-shadow: 0 0 0 .143rem rgba($primary-color, .5);
  }

  &--rounded {
    border-radius: 50px;
  }

  &--block {
    width: 100%;
  }

  &--xl {
    padding: $xl-padding;
    font-size: 1.286rem;
  }

  &--lg {
    padding: $lg-padding;
    font-size: 1.143rem;
  }

  &--sm {
    padding: $sm-padding;
    font-size: .857rem;
  }

  &--mini {
    padding: $mini-padding;
    font-size: .857rem;
  }

  &--fab {
    border-radius: 50%;
    padding: 0;
    height: $md-size;
    width: $md-size;

    &.#{$prefix}btn--xl {
      height: $xl-size;
      width: $xl-size;
    }

    &.#{$prefix}btn--lg {
      height: $lg-size;
      width: $lg-size;
    }

    &.#{$prefix}btn--md {
      height: $md-size;
      width: $md-size;
    }

    &.#{$prefix}btn--sm {
      height: $sm-size;
      width: $sm-size;
    }

    &.#{$prefix}btn--mini {
      height: $mini-size;
      width: $mini-size;
    }
  }

  &--icon {
    padding: 0 10px;
    height: $md-size;

    i {
      font-size: 1.714rem;
    }

    &.#{$prefix}btn--xl {
      height: $xl-size;

      i {
        font-size: 2rem;
      }
    }

    &.#{$prefix}btn--lg {
      height: $lg-size;

      i {
        font-size: 1.857rem;
      }
    }

    &.#{$prefix}btn--sm {
      height: $sm-size;

      i {
        font-size: 1.429rem;
      }
    }

    &.#{$prefix}btn--mini {
      height: $mini-size;

      i {
        font-size: 1.286rem;
      }
    }
  }

  &--white,
  &--light {
    color: $text-color;
  }

  &--no-shadow {
    box-shadow: none;
  }
}

@import './variables/color_types';

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .#{$prefix}btn--#{$name} {
      background-color: $color;

      &:hover,
      &:focus,
      &.#{$prefix}active {
        background-color: darken($color, 10%);
      }

      &:focus,
      &.#{$prefix}active {
        box-shadow: 0 0 0 .143rem rgba($color, .6);
      }

      &--outline {
        background-color: rgba($color, .05);
        box-shadow: none;
        border-color: $color;
        color: $color;

        &:hover,
        &:focus,
        &.#{$prefix}active {
          background-color: $color;
          color: white;
        }

        &:focus {
          box-shadow: 0 2px 5px 0 rgba(3, 6, 26, .15);
        }
      }
    }
  }
}

.#{$prefix}btn--default--outline {
  color: $default-color;
}

.#{$prefix}btn--disabled:disabled {
  box-shadow: none;
  background-color: $disabled-color;
  border-color: $disabled-color;
  color: $grey-color;
  cursor: not-allowed;
}
