$xl-side-padding: 1.786rem !default;
$lg-side-padding: 1.571rem !default;
$md-side-padding: 1.429rem !default;
$sm-side-padding:  1.071rem !default;
$mini-side-padding: .8571rem !default;

$xl-padding: 1.429rem $xl-side-padding !default;
$lg-padding: 1.143rem $lg-side-padding !default;
$md-padding: .8571rem $md-side-padding !default;
$sm-padding: .6429rem $sm-side-padding !default;
$mini-padding: .5rem $mini-side-padding !default;

$xl-size: 4.286rem !default;
$lg-size: 3.571rem !default;
$md-size: 2.857rem !default;
$sm-size: 2.286rem !default;
$mini-size: 2rem !default;

.#{$prefix}btn {
  @include font_family();

  border: none;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, .15);
  background-color: $primary-color;
  color: white;
  display: inline-flex;
  border-radius: $border-radius;
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  width: auto;
  overflow: hidden;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: center;
  padding-right: $md-side-padding;
  padding-left: $md-side-padding;
  height: $md-size;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;

  &:hover,
  &:focus,
  &.#{$prefix}active {
    background-color: darken($primary-color, 10%);
  }

  &:focus,
  &.#{$prefix}active {
    &::before {
      box-sizing: content-box;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      border: 2px solid $primary-color;
      border-radius: calc(#{$border-radius} + 3px);
      padding: 1px;
      position: absolute;
      left: -3px;
      top: -3px;
    }
  }

  &--outline {
    background-color: rgba($primary-color, .05);
    color: $primary-color;
    box-shadow: none;

    &::after {
      box-sizing: content-box;
      content: '';
      display: block;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      border: 2px solid;
      border-color: $primary-color;
      border-radius: $border-radius;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.#{$prefix}btn--rounded {
      border-radius: 50px;

      &::after {
        border-radius: 50px;
      }
    }

    &:hover,
    &:focus,
    &.#{$prefix}active {
      background-color: $primary-color;
      color: white;
    }
  }

  &--rounded {
    border-radius: 50px;

    &:focus,
    &.#{$prefix}active {
      &::before {
        border-radius: 50px;
      }
    }
  }

  &--block {
    width: 100%;
  }

  &--xl {
    padding-right: $xl-side-padding;
    padding-left: $xl-side-padding;
    height: $xl-size;
    font-size: 1.286rem;
  }

  &--lg {
    padding-right: $lg-side-padding;
    padding-left: $lg-side-padding;
    height: $lg-size;
    font-size: 1.143rem;
  }

  &--sm {
    padding-right: $sm-side-padding;
    padding-left: $sm-side-padding;
    height: $sm-size;
    font-size: .857rem;
  }

  &--mini {
    padding-right: $mini-side-padding;
    padding-left: $mini-side-padding;
    height: $mini-size;
    font-size: .857rem;
  }

  &--fab {
    border-radius: 50%;
    padding: 0;
    width: $md-size;

    &::after {
      border-radius: 50%;
    }

    &.#{$prefix}btn--xl {
      width: $xl-size;
    }

    &.#{$prefix}btn--lg {
      width: $lg-size;
    }

    &.#{$prefix}btn--md {
      width: $md-size;
    }

    &.#{$prefix}btn--sm {
      width: $sm-size;
    }

    &.#{$prefix}btn--mini {
      width: $mini-size;
    }

    &:focus,
    &.#{$prefix}active {
      &::before {
        border-radius: 50%;
      }
    }
  }

  &--icon {
    i {
      font-size: 1.714rem;
    }

    &.#{$prefix}btn--xl {
      i {
        font-size: 2rem;
      }
    }

    &.#{$prefix}btn--lg {
      i {
        font-size: 1.857rem;
      }
    }

    &.#{$prefix}btn--sm {
      i {
        font-size: 1.429rem;
      }
    }

    &.#{$prefix}btn--mini {
      i {
        font-size: 1.286rem;
      }
    }
  }

  &--white,
  &--light {
    color: $text-color;
  }
}

@import './variables/color_types';

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .#{$prefix}btn--#{$name} {
      background-color: $color;

      &:hover,
      &:focus,
      &.#{$prefix}active {
        background-color: darken($color, 10%);
      }

      &:focus,
      &.#{$prefix}active {
        &::before {
          border-color: $color;
        }
      }

      &.#{$prefix}btn--outline {
        background-color: rgba($color, .05);
        color: $color;

        &::after {
          border-color: $color;
        }

        &.#{$prefix}btn--rounded {
          &::after {
            border-radius: 50px;
          }
        }

        &:hover,
        &:focus,
        &.#{$prefix}active {
          background-color: $color;
          color: white;

          &.#{$prefix}btn--white,
          &.#{$prefix}btn--transparent,
          &.#{$prefix}btn--light {
            color: $text-color;
          }
        }
      }
    }
  }
}

.#{$prefix}btn--default--outline {
  color: $default-color;
}

.#{$prefix}btn--disabled:disabled {
  background-color: $disabled-color;
  color: $grey-color;
  cursor: not-allowed;
  box-shadow: none;

  &::after {
    border-color: $disabled-color;
  }

  &::before {
    border-color: $disabled-color;
  }
}
