$btn-side-padding: 1.429em !default;
$btn-height: 2.857em !default;

.#{$prefix}btn {
  @include font_family();

  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, .15);
  background-color: $primary-color;
  color: white;
  display: inline-flex;
  border-radius: $border-radius;
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  width: auto;
  overflow: visible;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: center;
  font-size: 1rem;
  padding-right: $btn-side-padding;
  padding-left: $btn-side-padding;
  height: $btn-height;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover,
  &:focus,
  &.#{$prefix}active {
    background-color: darken($primary-color, 10%);
  }

  &:focus,
  &.#{$prefix}active {
    &::before {
      box-sizing: content-box;
      content: '';
      display: block;
      border: 2px solid $primary-color;
      border-radius: calc(#{$border-radius} + 3px);
      position: absolute;
      left: -3px;
      top: -3px;
      right: -3px;
      bottom: -3px;
    }
  }

  &--outline {
    background-color: rgba($primary-color, .05);
    color: $primary-color;
    box-shadow: none;

    &::after {
      box-sizing: content-box;
      content: '';
      display: block;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      border: 2px solid;
      border-color: $primary-color;
      border-radius: $border-radius;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.#{$prefix}btn--rounded {
      border-radius: 50px;

      &::after {
        border-radius: 50px;
      }
    }

    &:hover,
    &:focus,
    &.#{$prefix}active {
      background-color: $primary-color;
      color: white;
    }
  }

  &--rounded {
    border-radius: 50px;

    &:focus,
    &.#{$prefix}active {
      &::before {
        border-radius: 50px;
      }
    }
  }

  &--block {
    width: 100%;
  }

  &--xl {
    font-size: 1.375rem;
  }

  &--lg {
    font-size: 1.125rem;
  }

  &--sm {
    font-size: .875rem;
  }

  &--mini {
    font-size: .75rem;
  }

  &--fab {
    border-radius: 50%;
    padding: 0;
    width: $btn-height;

    &::after {
      border-radius: 50%;
    }

    &:focus,
    &.#{$prefix}active {
      &::before {
        border-radius: 50%;
      }
    }
  }

  &--icon {
    &--right {
      padding-right: calc(#{$btn-side-padding} / 1.5);
    }

    &--left {
      padding-left: calc(#{$btn-side-padding} / 1.5);
    }

    &.#{$prefix}btn--no-text {
      padding-left: calc(#{$btn-side-padding} / 1.5);
      padding-right: calc(#{$btn-side-padding} / 1.5);
    }

    i {
      font-size: 1.714rem;
    }

    &.#{$prefix}btn--xl {
      i {
        font-size: 2rem;
      }
    }

    &.#{$prefix}btn--lg {
      i {
        font-size: 1.857rem;
      }
    }

    &.#{$prefix}btn--sm {
      i {
        font-size: 1.429rem;
      }
    }

    &.#{$prefix}btn--mini {
      i {
        font-size: 1.286rem;
      }

      span {
        font-size: .875rem;
      }
    }
  }
}

@import './variables/color_types';

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .#{$prefix}btn--#{$name} {
      background-color: $color;

      &:hover,
      &:focus,
      &.#{$prefix}active {
        background-color: darken($color, 10%);
      }

      &:focus,
      &.#{$prefix}active {
        &::before {
          border-color: $color;
        }
      }

      &.#{$prefix}btn--outline {
        background-color: rgba($color, .05);
        color: $color;

        &::after {
          border-color: $color;
        }

        &.#{$prefix}btn--rounded {
          &::after {
            border-radius: 50px;
          }
        }

        &:hover:not(.#{$prefix}btn--disabled),
        &:focus:not(.#{$prefix}btn--disabled),
        &.#{$prefix}active:not(.#{$prefix}btn--disabled) {
          background-color: $color;
          color: white;

          // &.#{$prefix}btn--white,
          // &.#{$prefix}btn--transparent,
          // &.#{$prefix}btn--light {
          //   color: $text-color;
          // }
        }
      }
    }
  }
}

.#{$prefix}btn--default--outline {
  color: $default-color;
}

.#{$prefix}btn--disabled:disabled {
  background-color: $disabled-color;
  color: $grey-color;
  cursor: not-allowed;
  box-shadow: none;

  &::after {
    border-color: $disabled-color;
  }

  &::before {
    border-color: $disabled-color;
  }
}
