$xl-side-padding: 1.786rem !default;
$lg-side-padding: 1.571rem !default;
$md-side-padding: 1.429rem !default;
$sm-side-padding:  1.071rem !default;
$mini-side-padding: .8571rem !default;

$xl-padding: 1.429rem $xl-side-padding !default;
$lg-padding: 1.143rem $lg-side-padding !default;
$md-padding: .8571rem $md-side-padding !default;
$sm-padding: .6429rem $sm-side-padding !default;
$mini-padding: .5rem $mini-side-padding !default;

$xl-size: 4.286rem !default;
$lg-size: 3.571rem !default;
$md-size: 2.857rem !default;
$sm-size: 2.286rem !default;
$mini-size: 2rem !default;

.#{$prefix}btn {
  @include font_family();

  border: $border-width solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, .15);
  background-color: $primary-color;
  color: white;
  display: inline-flex;
  border-radius: $border-radius;
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  width: auto;
  overflow: visible;
  -webkit-font-smoothing: inherit;
  text-decoration: none;
  text-align: center;
  -moz-osx-font-smoothing: inherit;
  white-space: nowrap;
  padding-right: $md-side-padding;
  padding-left: $md-side-padding;
  height: $md-size;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  &:hover,
  &:focus,
  &.#{$prefix}active {
    background-color: darken($primary-color, 10%);
    text-decoration: none;
  }

  &:focus,
  &.#{$prefix}active {
    box-shadow: 0 0 0 .143rem rgba($primary-color, .5);
  }

  &--rounded {
    border-radius: 50px;
  }

  &--block {
    width: 100%;
  }

  &--xl {
    padding-right: $xl-side-padding;
    padding-left: $xl-side-padding;
    height: $xl-size;
    font-size: 1.286rem;
  }

  &--lg {
    padding-right: $lg-side-padding;
    padding-left: $lg-side-padding;
    height: $lg-size;
    font-size: 1.143rem;
  }

  &--sm {
    padding-right: $sm-side-padding;
    padding-left: $sm-side-padding;
    height: $sm-size;
    font-size: .857rem;
  }

  &--mini {
    padding-right: $mini-side-padding;
    padding-left: $mini-side-padding;
    height: $mini-size;
    font-size: .857rem;
  }

  &--fab {
    border-radius: 50%;
    padding: 0;
    width: $md-size;

    &.#{$prefix}btn--xl {
      width: $xl-size;
    }

    &.#{$prefix}btn--lg {
      width: $lg-size;
    }

    &.#{$prefix}btn--md {
      width: $md-size;
    }

    &.#{$prefix}btn--sm {
      width: $sm-size;
    }

    &.#{$prefix}btn--mini {
      width: $mini-size;
    }
  }

  &--icon {
    i {
      font-size: 1.714rem;
    }

    &.#{$prefix}btn--xl {
      i {
        font-size: 2rem;
      }
    }

    &.#{$prefix}btn--lg {
      i {
        font-size: 1.857rem;
      }
    }

    &.#{$prefix}btn--sm {
      i {
        font-size: 1.429rem;
      }
    }

    &.#{$prefix}btn--mini {
      i {
        font-size: 1.286rem;
      }
    }
  }

  &--white,
  &--light {
    color: $text-color;
  }

  &--no-shadow {
    box-shadow: none;
  }
}

@import './variables/color_types';

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .#{$prefix}btn--#{$name} {
      background-color: $color;

      &:hover,
      &:focus,
      &.#{$prefix}active {
        background-color: darken($color, 10%);
      }

      &:focus,
      &.#{$prefix}active {
        box-shadow: 0 0 0 .143rem rgba($color, .6);
      }

      &--outline {
        background-color: rgba($color, .05);
        box-shadow: none;
        border-color: $color;
        color: $color;

        &:hover,
        &:focus,
        &.#{$prefix}active {
          background-color: $color;
          color: white;

          &.#{$prefix}btn--white--outline,
          &.#{$prefix}btn--light--outline {
            color: $text-color;
          }
        }

        &:focus {
          box-shadow: 0 2px 5px 0 rgba(3, 6, 26, .15);
        }
      }
    }
  }
}

.#{$prefix}btn--default--outline {
  color: $default-color;
}

.#{$prefix}btn--disabled:disabled {
  box-shadow: none;
  background-color: $disabled-color;
  border-color: $disabled-color;
  color: $grey-color;
  cursor: not-allowed;
}
