html { font-size: $base-font-size; }

.maz-base-component {
  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  @import './mixins/font_family';

  @include font_family();

  &:not(.maz-btn) {
    color: $text-color;
  }
}

.maz-is-dark.maz-base-component,
.maz-is-dark .maz-base-component {
  &:not(.maz-btn) {
    color: $text-color-dark;
  }
}
