// @import './variables/responsive';
$container-laptop-padding: 40px;
$container-mobile-padding: 20px;
$container-max-width: 1280px;
$mobile-breakpoint: 500px;
$container-width-breakpoint: calc(#{$container-max-width} + #{$container-laptop-padding});

:root {
  --#{$prefix}container-padding: #{$container-laptop-padding};
  --#{$prefix}container-max-width: #{$container-max-width};
  --#{$prefix}container-width: calc(100% - var(--#{$prefix}container-padding) * 2);
  --#{$prefix}container-mobile-padding: 20px;
}

.#{$prefix}container {
  width: 100%;
  padding-left: calc(50% - var(--#{$prefix}container-width) / 2);
  padding-right: calc(50% - var(--#{$prefix}container-width) / 2);
}

@media only screen and (min-width: $container-width-breakpoint) {
  :root {
    --#{$prefix}container-width: var(--#{$prefix}container-max-width);
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  :root {
    --#{$prefix}container-padding: var(--#{$prefix}container-mobile-padding);
  }
}
