$container-laptop-padding: 40px;
$container-max-width: 1280px;
$mobile-breakpoint: 500px;
$container-width-breakpoint: calc(#{$container-max-width} + #{$container-laptop-padding});

:root {
  --container-padding: #{$container-laptop-padding};
  --container-max-width: #{$container-max-width};
  --container-width: calc(100% - var(--container-padding) * 2);
  --container-mobile-padding: 20px;
}

.#{$prefix}container {
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

@media only screen and (min-width: $container-width-breakpoint) {
  :root {
    --container-width: var(--container-max-width);
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  :root {
    --container-padding: var(--container-mobile-padding);
  }
}
