@import './../_variables/color_names';

$base-dot-size: 1rem !default;
$dot-size: .4286em !default;

.#{$prefix}dot {
  font-size: $base-dot-size;
  width: $dot-size;
  height: $dot-size;
  border-radius: $dot-size;
  border: var(--#{$prefix}border-width) solid var(--#{$prefix}primary);
  background-color: var(--#{$prefix}primary);
  display: inline-block;

  &--outline {
    background-color: transparent;
    color: var(--#{$prefix}primary);
  }
}

@each $name in $color_names {
  .#{$prefix}dot--#{$name} {
    background-color: var(--#{$prefix}#{$name});
    border-color: var(--#{$prefix}#{$name});

    &--outline {
      background-color: transparent;
      border: var(--#{$prefix}border-width) solid var(--#{$prefix}#{$name});
      color: var(--#{$prefix}#{$name});
    }
  }
}
