@import './variables/color_types_new';

$base-dot-size: 1rem !default;
$dot-size: .4286em !default;

.#{$prefix}dot {
  font-size: $base-dot-size;
  width: $dot-size;
  height: $dot-size;
  border-radius: $dot-size;
  border: var(--border-width) solid var(--primary);
  background-color: var(--primary);
  display: inline-block;

  &--outline {
    background-color: transparent;
    color: var(--primary);
  }
}

@each $name in $color_types_new {
  .#{$prefix}dot--#{$name} {
    background-color: var(--#{$name});
    border-color: var(--#{$name});

    &--outline {
      background-color: transparent;
      border: $border-width solid var(--#{$name});
      color: var(--#{$name});
    }
  }
}
