.#{$prefix}elevation {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}

.#{$prefix}no-elevation {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}

.#{$prefix}is-dark.#{$prefix}elevation,
.#{$prefix}is-dark .#{$prefix}elevation {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}
