@import './../_variables/color_names';

.#{$prefix}hover-bg-color:hover {
  background-color: var(--#{$prefix}hover-color);
}

.#{$prefix}no-hover-bg:hover {
  background: transparent;
}

@each $name in $color_names {
  .#{$prefix}hover-bg-#{$name}:hover {
    background-color: var(--#{$prefix}#{$name});
  }
}
