@import './variables/color_types_new';

.#{$prefix}hover-bg-color:hover {
  background-color: var(--hover-color);
}

.#{$prefix}no-hover-bg:hover {
  background: transparent;
}

@each $name in $color_types_new {
  .#{$prefix}hover-bg-#{$name}:hover {
    background-color: var(--#{$name});
  }
}
