*,
*::before,
*::after {
  box-sizing: border-box;
}

.html.maz-ui {
  font: $base-font-weight $base-font-size $base-font-family;
  line-height: $base-line-height;
  font-kerning: normal;
  color: $text-color;

  &.#{$prefix}is-dark {
    color: $text-color-dark;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

body,
#app,
button,
input {
  font: $base-font-weight $base-font-size $base-font-family;
  line-height: $base-line-height;
  font-kerning: normal;
}

body,
#app {
  color: $text-color;
}

.#{$prefix}is-dark body,
.#{$prefix}is-dark #app {
  color: $text-color-dark;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
