@import './mixins/index';
@import './variables/index';
@import './_bg_colors';
@import './_label';
@import './_dot';
@import './_link';
@import './_btn';
@import './_badge';
@import './_table';
@import './_animation';
@import './_overflow';
@import './_position';
@import './_flex';
@import './_typo';
@import './_container_size';
@import './_spacing';
@import './_width_height';
@import './_border_radiuses';
@import './_fonts';
@import './_responsive';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  font: $base-font-weight $base-font-size $base-font-family;
  line-height: $base-line-height;
  font-kerning: normal;
  height: 100%;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
h2 {
  color: $primary-color;
}
