@import './variables/_colors';
@import './variables/color_types';

.#{$prefix}label {
  border-radius: 2px;
  padding: 2px 4px;
  color: white;
  font-size: .714em;
  background-color: $primary-color;
}

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .#{$prefix}label-#{$name} {
      background-color: $color;

      &-outline {
        background-color: transparent;
        border: 1px solid $color;
        color: $color;
      }
    }
  }
}
