
@import './variables/overflows';

.over-hid {
  overflow: hidden;
}

@each $overflow in $overflows {
  .overflow-#{$overflow} {
    overflow: #{$overflow};
  }

  .overflow-y-#{$overflow} {
    overflow-y: #{$overflow};
  }

  .overflow-x-#{$overflow} {
    overflow-x: #{$overflow};
  }
}
