table.#{$prefix}md {
  @include font_family();

  border-spacing: 0;
  border-radius: $border-radius;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-wrap: break-word;
  overflow: hidden;
  word-break: break-all;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);

  tr {
    background-color: $bg-color;
    width: 100%;

    th,
    td {
      padding: 6px 13px;
      text-align: left;
    }

    &:nth-child(2n) {
      background-color: $hover-bg-color;
    }
  }
}

.#{$prefix}is-dark table.#{$prefix}md {
  color: $text-color-dark;

  tr {
    background-color: $bg-color-dark;

    &:nth-child(2n) {
      background-color: $hover-bg-color-dark;
    }
  }
}
