.#{$prefix}text-color {
  color: var(--#{$prefix}text-color);
  fill: var(--#{$prefix}text-color);
}

.#{$prefix}text-white {
  color: white;
  fill: white;
}

.#{$prefix}text-muted {
  color: var(--#{$prefix}muted-color);
  fill: var(--#{$prefix}muted-color);
}

@import './../_variables/color_names';

@each $name in $color_names {
  .#{$prefix}text-#{$name} {
    color: var(--#{$prefix}#{$name});
    fill: var(--#{$prefix}#{$name});
  }
}

.#{$prefix}text-strong {
  font-weight: 600;
}

.#{$prefix}text-bold {
  font-weight: bold;
}

.#{$prefix}text-center {
  text-align: center;
}

.#{$prefix}text-left {
  text-align: left;
}

.#{$prefix}text-right {
  text-align: right;
}

@import './../mixins/multiple_line_ellipsis';

.#{$prefix}dots-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.#{$prefix}dots-text-3 {
  @include multiLineEllipsis($lineHeight: 1.3rem, $lineCount: 3, $bgColor: white);
}

.#{$prefix}dots-text-2 {
  @include multiLineEllipsis($lineHeight: 1.3rem, $lineCount: 2, $bgColor: white);
}
