.text-color {
  color: $text-color;
  fill: $text-color;
}

.text-color-dark {
  color: $text-color-dark;
  fill: $text-color-dark;
}

.is-dark.text-color,
.is-dark .text-color {
  color: $text-color-dark;
  fill: $text-color-dark;
}

.text-white {
  color: white;
  fill: white;
}

.text-muted {
  color: $text-muted;
  fill: $text-muted;
}

.is-dark .text-muted,
.text-muted-dark {
  color: $text-muted-dark;
  fill: $text-muted-dark;
}

@import './variables/color_types';

@each $name, $color in $color_types {
  @if (type-of($color) == 'color') {
    .text-#{$name} {
      color: $color;
      fill: $color;
    }
  }
}

.text-strong {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@import './mixins/index';

.dots-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dots-text-3 {
  @include multiLineEllipsis($lineHeight: 1.3em, $lineCount: 3, $bgColor: white);
}

.dots-text-2 {
  @include multiLineEllipsis($lineHeight: 1.3em, $lineCount: 2, $bgColor: white);
}
