$SM_SIZE: 2.57rem !default;
$MD_SIZE: 2.85rem !default;
$LG_SIZE: 3.42rem !default;

.country-selector {
  @import './flags/index.scss';

  position: relative;
  z-index: 0;
  user-select: none;

  &:hover {
    z-index: 1;
  }

  &__label {
    position: absolute;
    outline: none;
    top: 3px;
    cursor: pointer;
    left: 11px;
    transform: translateY(25%);
    opacity: 0;
    transition: all .25s cubic-bezier(.645, .045, .355, 1);
    font-size: .786rem;
    color: $placeholder-color;
  }

  &__input {
    cursor: pointer;
    background-color: $bg-color;
    position: relative;
    width: 100%;
    height: $MD_SIZE;
    min-height: $MD_SIZE;
    padding-right: 22px;
    font-weight: 400;
    appearance: none;
    outline: none;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    font-size: .929rem;
    z-index: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 8px;
    color: $text-color;
  }

  &__toggle {
    position: absolute;
    right: 5px;
    top: calc(50% - 10px);
    transition: all .25s cubic-bezier(.645, .045, .355, 1);
    text-align: center;
    outline: none;
    display: inline-block;
    cursor: pointer;
    height: 24px;
    color: $input-icon-color;

    svg path.arrow {
      fill: $input-icon-color;
    }
  }

  &__country-flag {
    outline: none;
    margin: auto 0;
    position: absolute;
    top: 20px;
    left: 11px;
    z-index: 1;
    cursor: pointer;

    .flag-icon {
      width: 16px;
    }
  }

  &__list {
    max-width: 100%;
    width: 100%;
    min-width: 245px;
    position: absolute;
    border-radius: $border-radius;
    background-color: $bg-color;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    z-index: 9;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;

    &.has-calling-code {
      min-width: 270px;
    }

    &__item {
      padding: 0 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: .857rem;
      cursor: pointer;
      color: $text-color;
      background-color: transparent;
      width: 100%;
      border: 0;
      outline: none;

      &__flag-container {
        margin-right: 10px;
      }

      &__calling-code {
        width: 45px;
        color: $muted-color;
      }

      &:hover,
      &.keyboard-selected {
        background-color: darken($hover-bg-color, 5%);
      }

      &.selected {
        color: white;
        font-weight: 600;

        .country-selector__list__item__calling-code {
          color: white;
        }
      }
    }
  }

  &.is-focused {
    z-index: 1;

    @each $name, $color in $color_types {
      &.country-selector--#{$name} {
        .country-selector {
          &__input {
            border-color: $color;
          }

          &__label {
            color: $color;
          }
        }
      }
    }
  }

  @each $name, $color in $color_types {
    &.country-selector--#{$name} {
      .country-selector__list__item.selected {
        background-color: $color;
      }
    }
  }

  &.is-valid {
    .country-selector__input {
      border-color: $success-color;
    }

    .country-selector__label {
      color: $success-color;
    }
  }

  &.has-list-open {
    z-index: 1;

    .country-selector {
      &__toggle {
        transform: rotate(180deg);
      }
    }
  }

  &.has-error {
    .country-selector__input {
      border-color: $danger-color;
    }

    .country-selector__label {
      color: $danger-color;
    }
  }

  &.has-value {
    .country-selector__input {
      padding-left: 40px;
    }
  }

  &.has-value,
  &.has-hint {
    .country-selector__label {
      opacity: 1;
      transform: translateY(0);
      font-size: .786rem;
    }

    .country-selector__input {
      padding-top: 14px;
    }
  }

  // Disable theme
  &.is-disabled {
    .country-selector {
      cursor: not-allowed;

      $disabled-color-text: darken($disabled-color, 20%);

      &__input {
        border-color: $border-color;
        background-color: $disabled-color;
        color: $disabled-color-text;

        &::-webkit-input-placeholder {
          color: $disabled-color-text;
        }

        &::-moz-placeholder {
          color: $disabled-color-text;
        }

        &:-ms-input-placeholder {
          color: $disabled-color-text;
        }

        &::-ms-input-placeholder {
          color: $disabled-color-text;
        }

        &:-moz-placeholder {
          color: $disabled-color-text;
        }

        &::placeholder {
          color: $disabled-color-text;
        }
      }

      &__label,
      &__input,
      &__toggle__arrow,
      &__country-flag,
      &__country-flag > div {
        cursor: not-allowed;
        color: $disabled-color-text;
      }
    }
  }

  &.no-flags {
    .country-selector__input {
      padding-left: 10px;
    }
  }

  &.sm {
    .country-selector__input {
      height: $SM_SIZE;
      min-height: $SM_SIZE;
      font-size: .857rem;
    }

    .country-selector__label {
      font-size: .714rem;
    }

    .country-selector__country-flag {
      top: 16px;
    }

    &.has-value {
      .country-selector__input {
        padding-top: 12px;
      }
    }
  }

  &.lg {
    .country-selector__input {
      height: $LG_SIZE;
      min-height: $LG_SIZE;
      font-size: 1rem;
    }

    .country-selector__label {
      font-size: 1rem;
    }

    .country-selector__country-flag {
      top: 25px;
    }

    &.has-value {
      .country-selector__input {
        padding-top: 18px;
      }
    }
  }
}

.maz-is-dark .country-selector,
.maz-is-dark.country-selector {
  &__label {
    color: $placeholder-color-dark;
  }

  &__input {
    cursor: pointer;
    background-color: $bg-color-dark-light;
    border-color: $border-color-dark;
    color: $text-color-dark;

    &::-webkit-input-placeholder {
      color: $placeholder-color-dark;
    }

    &::-moz-placeholder {
      color: $placeholder-color-dark;
    }

    &:-ms-input-placeholder {
      color: $placeholder-color-dark;
    }

    &::-ms-input-placeholder {
      color: $placeholder-color-dark;
    }

    &:-moz-placeholder {
      color: $placeholder-color-dark;
    }

    &::placeholder {
      color: $placeholder-color-dark;
    }
  }

  &__toggle {
    color: $input-icon-color-dark;

    svg path.arrow {
      fill: $input-icon-color-dark;
    }
  }

  &__list {
    background-color: $bg-color-dark-light;

    &__item {
      color: $text-color-dark;

      &:hover,
      &.keyboard-selected {
        background-color: lighten($hover-bg-color-dark-l, 5%);
      }
    }

    &__calling-code {
      color: $muted-color-dark;
    }
  }
}
