:root {
  --maz-color-text: var(--maz-color-text-dark);
  --maz-color-muted: var(--maz-color-muted-light);
  --maz-color-bg: var(--maz-bg-color-light);
  --maz-color-bg-light: var(--maz-bg-color-light-light);
  --maz-color-bg-lighter: var(--maz-bg-color-light-lighter);
  --maz-color-bg-theme: var(--maz-bg-color-dark);
  --maz-color-bg-theme-hover: var(--maz-bg-color-dark-lighter);
}

[class~='dark'] {
  /* USAGE */
  --maz-color-text: var(--maz-color-text-light);
  --maz-color-muted: var(--maz-color-muted-dark);
  --maz-color-bg: var(--maz-bg-color-dark);
  --maz-color-bg-light: var(--maz-bg-color-dark-light);
  --maz-color-bg-lighter: var(--maz-bg-color-dark-lighter);
  --maz-color-bg-theme: var(--maz-bg-color-light);
  --maz-color-bg-theme-hover: var(--maz-bg-color-light-lighter);
}
