@import 'tailwindcss' prefix(maz);
@import 'maz-ui/base.css';
@import 'maz-ui/tailwindcss/theme.css';
@import 'maz-ui/tailwindcss/utilities.css';

@source "./../**/*.vue";
@source "./../**/*.ts";

/* stylelint-disable selector-id-pattern */
html {
  font-size: var(--maz-base-font-size);
  font-family: var(--maz-font-family);
  background-color: var(--maz-background);
  color: var(--maz-foreground);

  @apply maz:min-h-screen maz:h-screen maz:overflow-y-auto;
}
/* stylelint-enable selector-id-pattern */
