html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--maz-font-family);

  @apply maz-text-normal;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
