name: Doc Build and Deploy

on:
  push:
    branches:
      - master
    paths:
      - 'apps/docs/**'
      - 'packages/lib/**'
      - .github/workflows/doc-deploy.yml
  workflow_dispatch:

jobs:
  doc-build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js, pnpm and Nx cache
        uses: ./.github/actions/setup

      - name: Build packages
        run: pnpm build:packages

      - name: Build docs
        env:
          VITE_GITHUB_TOKEN: ${{ secrets.GH_TOKEN_STARS }}
        run: pnpm -F docs build

      - name: Deploy to Hostinger
        env:
          FTP_SERVER: ${{ secrets.HOSTINGER_FTP_SERVER }}
          FTP_USERNAME: ${{ secrets.HOSTINGER_FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.HOSTINGER_FTP_PASSWORD }}
        run: pnpm -F docs ftp-deploy
