name: Unit Tests

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/test-unit.yml
      - 'packages/**/*'
      - '!packages/*/CHANGELOG.md'
      - '!packages/*/package.json'
  pull_request:
    branches-ignore:
      - dependabot/**
    paths:
      - .github/workflows/test-unit.yml
      - 'packages/**'
      - pnpm-lock.yaml

jobs:
  coverage:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # Required for OIDC if you use it
      pull-requests: write

    env:
      TEST_ENV: 'true'
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    steps:
      - uses: szenius/set-timezone@v1.1
        with:
          timezoneLinux: Europe/Paris
          timezoneMacos: Europe/Paris

      - name: Checkout (full history)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js, pnpm and Nx cache
        uses: ./.github/actions/setup

      - name: Build packages
        run: pnpm build:packages:test

      - name: Test units
        run: pnpm test:unit:coverage:all

      - name: Upload coverage to Codecov (lib)
        if: always()
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: packages/lib/coverage/lcov.info
          flags: lib
          name: lib-coverage
          fail_ci_if_error: true
          verbose: true

      - name: Upload coverage to Codecov (utils)
        if: always()
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: packages/utils/coverage/lcov.info
          flags: utils
          name: utils-coverage
          fail_ci_if_error: false
          verbose: true

      - name: Upload coverage to Codecov (mcp)
        if: always()
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: packages/mcp/coverage/lcov.info
          flags: mcp
          name: mcp-coverage
          fail_ci_if_error: false
          verbose: true
