name: Unit Tests (Dependabot)

on:
  pull_request:
    branches:
      - 'dependabot/*'
    paths:
      - .github/workflows/test-unit-dependabot.yml

jobs:
  coverage:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: write

    env:
      TEST_ENV: 'true'
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    steps:
      - uses: szenius/set-timezone@v1.1
        with:
          timezoneLinux: Europe/Paris
          timezoneMacos: Europe/Paris

      - uses: actions/checkout@v3

      - name: Setup Node.js, pnpm and Nx cache
        uses: ./.github/actions/setup

      - name: Build packages
        run: pnpm build:packages:test

      - name: Test units
        run: pnpm test:unit:coverage:all
